<div class="mobile-menu-account">
  <div class="mobile-menu-content">
    <nav class="list">
      <ul>
        <li>
          <button class="tab active" data-tab="1">Бронирование</button>
        </li>
        <li>
          <button class="tab" data-tab="2">Текущие заявки</button>
        </li>
        <li>
          <button class="tab" data-tab="3">История</button>
        </li>
        <li>
          <button class="tab" data-tab="4">Данные</button>
        </li>
        <li>
          <button class="tab" data-tab="5">Как пользоватья ЛК</button>
        </li>
      </ul>
    </nav>
    <nav class="info">
      <ul>
        <li>
          <a href="home.html">Детский лагерь</a>
        </li>
        <li>
          <a href="#">База отдыха</a>
        </li>
        <li>
          <button>Выйти</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
