<div class="hero">
  <div class="hero-images">
    <div class="image-title-wrapper">
      <img src="@img/title.png" alt="title" />
    </div>
    <div class="image-bg-wrapper"></div>
    <div class="image-alert-wrapper">
      <img src="@img/alert.png" alt="alert" />
    </div>
    <div class="image-main-wrapper"></div>
  </div>
  <div class="hero-inner">
    <div class="container">
      <div class="hero-inner-content">
        <div class="top">
          <h3>Выберите удобные даты</h3>
          <div class="badge-wrapper">
            <div class="badge outline">7—15 лет</div>
            <p>
              <span> 21 день </span> <br />
              длительность смены
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="hero-card">
            <div class="hero-card-content">
              <h5>Первая смена</h5>
              <p>01.06.24 — 21.06.24</p>
              <span>15 000 ₽</span>
              <div class="button-wrapper">
                <button class="primary"><p>Забронировать</p></button>
                <button class="outline"><p>Программа смены</p></button>
              </div>
            </div>
          </div>
          <div class="hero-card">
            <div class="hero-card-content">
              <h5>Вторая смена</h5>
              <p>01.07.24 — 21.07.24</p>
              <span>15 000 ₽</span>
              <div class="button-wrapper">
                <button class="primary"><p>Забронировать</p></button>
                <button class="outline"><p>Программа смены</p></button>
              </div>
            </div>
          </div>
          <div class="hero-card">
            <div class="hero-card-content">
              <h5>Третья смена</h5>
              <p>01.08.24 — 21.08.24</p>
              <span>15 000 ₽</span>
              <div class="button-wrapper">
                <button class="primary"><p>Забронировать</p></button>
                <button class="outline"><p>Программа смены</p></button>
              </div>
            </div>
          </div>
        </div>
        <div class="alert">
          <div class="alert-about">
            <h4>Каждый сезон меняется набор кружков</h4>
          </div>
          <a href="./files/price.pdf" target="_blank" class="primary">
            <p>стоимость путевок с компенсацией</p></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
