<div data-compensationid="2" class="compensation-info-card">
    <div class="compensation-info-card-content">
      <button class="close-btn">
        <svg
          width="18"
          height="17"
          viewBox="0 0 18 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0165 1L1.09424 15.8122"
            stroke="#626262"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1.09436 1L16.0166 15.8122"
            stroke="#626262"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h5>
        Константинопольский <br />
        Константин Иванович
      </h5>
      <div class="info-card-content">
        <div class="info-item">
          <h6>Данные</h6>
          <ul>
            <li>
              <span>Серия и номер</span>
              <p>3792 938442</p>
            </li>
            <li>
              <span>Дата выдачи</span>
              <p>16.10.2006</p>
            </li>
            <li>
              <span>Кем выдан</span>
              <p>ТП УФМС по городу Москва</p>
            </li>
            <li>
              <span>Город регистрации</span>
              <p>Москва</p>
            </li>
            <li>
              <span>Адрес регистрации</span>
              <p>Москва, Садовая-Кудринская, 25, 124</p>
            </li>
            <li>
              <span>Почта</span>
              <p>kons@gmai.com</p>
            </li>
            <li>
              <span>Телефон</span>
              <p>+7 934 345 53 43</p>
            </li>
            <li>
              <span>Место работы</span>
              <p>ООО “Название организации”</p>
            </li>
            <li>
              <span>Адрес места работы</span>
              <p>Москва</p>
            </li>
            <li>
              <span>Организация направившая</span>
              <p>ООО “Название организации”</p>
            </li>
            <li>
              <span>ИНН организации</span>
              <p>439502384765</p>
            </li>
            <li>
              <span>Образовательное учреждение</span>
              <p>*Название</p>
            </li>
            <li>
              <span>Место рождения ребенка</span>
              <p>Москва</p>
            </li>
            <li>
              <span>Получал компенсацию города в этом году</span>
              <p>Нет</p>
            </li>
          </ul>
        </div>
        <div class="info-item">
          <h6>Документы</h6>
          <ul>
            <li>
              <p>Реквизиты карты МИР родителя, выгруженные из Банка</p>
            </li>
            <li>
              <p>Документы, подтверждающие родство с ребенком</p>
            </li>
            <li>
              <p>Справка с места работы</p>
            </li>
            <li>
              <p>Ксерокопия паспорта родителя 2-3 страница</p>
            </li>
            <li>
              <p>Ксерокопия паспорта родителя 5 страница (прописка)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  