:root {
  --yellow-color: #ffaf00;
  --beige-color: #ffe7af;
  --purple-color: #833a8a;
  --lavand-color: #facbff;
  --rose-color: #ff0056;
  --light-rose-color: #ffcbd2;
  --pink-color: #ff4281;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #dedede;
  --trs-300: 300ms ease;
  --trs-600: 600ms ease;
  --trs-800: 800ms ease;
  --gradient: linear-gradient(
    90deg,
    rgba(255, 175, 0, 1) 0%,
    rgba(246, 24, 103, 1) 49%,
    rgba(130, 58, 138, 1) 100%
  );
  --shadow: 0px 4px 30px 0px rgba(34, 60, 80, 0.25);
}

.education {
  position: relative;
}
@media (max-width: 1024px) {
  .education {
    padding-bottom: 100px;
  }
}
.education:after {
  content: "";
  position: absolute;
  background-image: url("../img/shapes/shape-education.svg");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -55px;
  width: 100%;
  height: 60px;
}
.education .education-inner {
  padding-top: 140px;
}
.education .education-inner .top h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
}
@media (max-width: 1024px) {
  .education .education-inner .top h3 {
    font-size: 40px;
    line-height: 44px;
  }
}
.education .education-inner .center {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 48px;
}
@media (max-width: 1024px) {
  .education .education-inner .center {
    flex-direction: column;
    gap: 76px;
  }
}
.education .education-inner .center .education-item {
  width: calc(50% - 15px);
}
@media (max-width: 1024px) {
  .education .education-inner .center .education-item {
    width: 100%;
  }
}
.education .education-inner .center .education-item .default-swiper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.education .education-inner .center .education-item .default-swiper .content {
  flex: 1 1;
}
.education .education-inner .center .education-item .default-swiper .swiper-default {
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  overflow: hidden;
}
.education .education-inner .center .education-item .default-swiper .swiper-default .swiper-slide .photo {
  height: 100%;
}
.education .education-inner .center .education-item .default-swiper .pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.education .education-inner .center .education-item .default-swiper .pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: var(--gray-color) !important;
  opacity: 1;
  display: block;
}
.education .education-inner .center .education-item .default-swiper .pagination-bullet-active {
  background: var(--purple-color) !important;
}
.education .education-inner .center .education-item .default-swiper .swiper-wrapper {
  max-height: 370px;
  height: 100%;
}
@media (max-width: 1024px) {
  .education .education-inner .center .education-item .default-swiper .swiper-wrapper {
    max-height: 100%;
  }
}
.education .education-inner .center .education-item .default-swiper .swiper-wrapper .navigation {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media (max-width: 1024px) {
  .education .education-inner .center .education-item .default-swiper .swiper-wrapper .navigation {
    display: none;
  }
}
.education .education-inner .center .education-item .default-swiper .swiper-wrapper .navigation button {
  pointer-events: all;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  background: var(--white-color);
}
.education .education-inner .center .education-item .default-swiper .swiper-wrapper .navigation button svg {
  stroke: var(--purple-color);
}
.education .education-inner .center .education-item .default-swiper h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}
@media (max-width: 1024px) {
  .education .education-inner .center .education-item .default-swiper h5 {
    font-size: 28px;
    line-height: 33px;
  }
}
.education .education-inner .center .education-item .default-swiper p {
  margin-top: 18px;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 605px;
}
@media (max-width: 1024px) {
  .education .education-inner .center .education-item .default-swiper p {
    font-size: 18px;
    line-height: 25px;
  }
}
.education .education-inner .center .education-item .default-swiper .badges {
  display: flex;
  gap: 7px;
  margin-bottom: 22px;
  margin-top: 20px;
}
.education .education-inner .center .education-item .default-swiper .badges .badge {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  height: 45px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .education .education-inner .center .education-item .default-swiper .badges .badge {
    font-size: 16px;
    line-height: 24px;
  }
}
.education .education-inner .bottom {
  padding-top: 50px;
}
.education .education-inner .bottom .education-about {
  background-image: url("../img/education/rectangle.png");
  background-size: contain;
  background-position: center;
  padding: 114px 62px 117px;
  background-repeat: no-repeat;
  max-width: 815px;
  margin: auto;
}
@media (max-width: 1024px) {
  .education .education-inner .bottom .education-about {
    background: var(--white-color);
    box-shadow: var(--shadow);
    padding: 18px 24px;
    border-radius: 20px;
  }
}
.education .education-inner .bottom .education-about h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  background-image: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (max-width: 1024px) {
  .education .education-inner .bottom .education-about h4 {
    font-size: 28px;
    line-height: 33px;
  }
}/*# sourceMappingURL=education.component.css.map */