<div data-rejectorderId="1" class="reject-order-modal">
  <div class="reject-order-modal-content">
    <button class="close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="12" cy="12" r="12" fill="#7E869E" fill-opacity="0.25" />
        <path
          d="M17.3334 6.6665L6.66675 17.3332"
          stroke="#767676"
          stroke-width="1.6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6.66658 6.6665L17.3333 17.3332"
          stroke="#767676"
          stroke-width="1.6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <h5>Заявка на доступ в ЛК</h5>
    <div class="badge error">Отклонена</div>
    <div class="admin-comment">
      <p>
        Заявка отклонена — *причины, почему заявка может быть отклонена.
        <br /><br />
        *варианты, что можно сделать в этой ситуации
      </p>
    </div>
    <a href="mailto:iskra@mggt.ru" class="purple" target="_blank"
      >iskra@mggt.ru</a
    >
  </div>
</div>
