<div data-compensationId="1" class="compensation-info-card">
    <div class="compensation-info-card-content">
      <button class="close-btn">
        <svg
          width="18"
          height="17"
          viewBox="0 0 18 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0165 1L1.09424 15.8122"
            stroke="#626262"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1.09436 1L16.0166 15.8122"
            stroke="#626262"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h5>
        Константинопольский <br />
        Константин Иванович
      </h5>
      <div class="info-card-content">
        <div class="info-item">
          <h6>Данные</h6>
          <ul>
            <li>
              <span>Категория получателя  компенсации</span>
              <p>Сотрудник</p>
            </li>
            <li>
              <span>Отдел</span>
              <p>Название отдела</p>
            </li>
            <li>
              <span>Почта</span>
              <p>kons@gmai.com</p>
            </li>
            <li>
              <span>Телефон</span>
              <p>+7 934 345 53 43</p>
            </li>
            <li>
              <span>Член профсоюза</span>
              <p>Да</p>
            </li>
            <li>
              <span>Степень родства</span>
              <p>Дочь</p>
            </li>
            <li>
              <span>Образовательное учреждение</span>
              <p>*Название</p>
            </li>
            <li>
              <span>Место рождения ребенка</span>
              <p>Москва</p>
            </li>
          
          </ul>
        </div>
        <div class="info-item">
          <h6>Документы</h6>
          <ul>
            <li>
              <p>Реквизиты, куда перечислять</p>
            </li>
            <li>
              <p>Свидетельство о рождении</p>
            </li>
            <li>
              <p>Свидетельство/справка о заключении брака, свидетельство о разводе и иные документы, доказывающие родство с ребенком</p>
            </li>
          
          </ul>
        </div>
      </div>
    </div>
  </div>
  