<div class="service-modal" data-service="1">
  <div class="service-modal-content">
    <button class="close-btn"><img src="@img/close.svg" alt="close" /></button>
    <div class="image-block">
      <div class="image-wrapper">
        <img src="@img/service2.jpg" alt="service" />
      </div>
      <div class="service-info-wrapper">
        <button class="btn primary">записаться</button>
        <div class="service-info">
          <p>Получить консультацию по телефону:</p>
          <div class="service-info-contacts">
            <a href="tel:+7 (900) 152-25-52">+7 (900) 152-25-52</a>
            <div class="socials">
              <a href="#" target="_blank"><img src="@img/tg.svg" alt="" /></a>
              <a href="#" target="_blank"><img src="@img/wa.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-block">
      <h3>Биоревитализация</h3>
      <p>
        Широкий спектр функций для эффективной борьбы с целлюлитом и морщинами.
        Кримолот, липолазер, миостимуляция, кавитация, вакуум и RF лифтинг.
        Процедуры позволяют создавать разнообразные варианты и индивидуальные
        комплексы в зависимости от потребностей клиента.
      </p>
      <ul class="features">
        <li>
          <div class="icon"><img src="@img/icon1.svg" alt="icon" /></div>
          <p>от 9 600 руб.</p>
        </li>
        <li>
          <div class="icon"><img src="@img/icon2.svg" alt="icon" /></div>
          <p>30 минут</p>
        </li>
        <li>
          <div class="icon"><img src="@img/icon3.svg" alt="icon" /></div>
          <p>Результат: через 3-4 дня после процедуры</p>
        </li>
        <li>
          <div class="icon"><img src="@img/icon4.svg" alt="icon" /></div>
          <p>
            Многофункциональная модульная эстетическая платформа M22, филлеры
            Radiesse, Sculptra, Profhilo, Neauvia Organic, Belotero
          </p>
        </li>
      </ul>
      <div class="service-info-wrapper mob">
        <button class="btn primary">записаться</button>
        <div class="service-info">
          <p>Получить консультацию по телефону:</p>
          <div class="service-info-contacts">
            <a href="tel:+7 (900) 152-25-52">+7 (900) 152-25-52</a>
            <div class="socials">
              <a href="#" target="_blank"><img src="@img/tg.svg" alt="" /></a>
              <a href="#" target="_blank"><img src="@img/wa.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="advantages">
        <h4>Преимущества</h4>
        <div class="advantages-list">
          <div class="advantage-item">
            <div class="icon"><img src="@img/intersect.svg" alt="" /></div>
            <div class="advantage-content">
              <h5>Эффективная борьба с целлюлитом и морщинами</h5>
              <p>
                Широкий спектр функций для эффективной борьбы с целлюлитом и
                морщинами. Кримолот, липолазер, миостимуляция, кавитация, вакуум
                и RF лифтинг. Процедуры позволяют создавать разнообразные
                варианты и индивидуальные комплексы в зависимости от
                потребностей клиента.
              </p>
            </div>
          </div>
          <div class="advantage-item">
            <div class="icon"><img src="@img/intersect.svg" alt="" /></div>
            <div class="advantage-content">
              <h5>Индивидуальные комплексы</h5>
              <p>
                Процедуры позволяют создавать разнообразные варианты и
                индивидуальные комплексы в зависимости от потребностей клиента.
                Широкий спектр функций для эффективной борьбы с целлюлитом и
                морщинами.
              </p>
            </div>
          </div>
          <div class="advantage-item">
            <div class="icon"><img src="@img/intersect.svg" alt="" /></div>
            <div class="advantage-content">
              <h5>Индивидуальные комплексы</h5>
              <p>
                Кримолот, липолазер, миостимуляция, кавитация, вакуум и RF
                лифтинг. Процедуры позволяют создавать разнообразные варианты и
                индивидуальные комплексы в зависимости от потребностей клиента.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-service">
        <h4>О процедуре</h4>
        <p>
          Широкий спектр функций для эффективной борьбы с целлюлитом и
          морщинами. Кримолот, липолазер, миостимуляция, кавитация, вакуум и RF
          лифтинг. Процедуры позволяют создавать разнообразные варианты и
          индивидуальные комплексы в зависимости от потребностей клиента.
          Широкий спектр функций для эффективной борьбы с целлюлитом и
          морщинами. Кримолот, липолазер, миостимуляция, кавитация, вакуум и RF
          лифтинг. Процедуры позволяют создавать разнообразные варианты и
          индивидуальные комплексы в зависимости от потребностей клиента.
        </p>
        <ul>
          <li>
            Широкий спектр функций для эффективной борьбы с целлюлитом и
            морщинами.
          </li>
          <li>
            Процедуры позволяют создавать разнообразные варианты и
            индивидуальные комплексы в зависимости от потребностей клиента.
          </li>
          <li>
            Широкий спектр функций для эффективной борьбы с целлюлитом и
            морщинами.
          </li>
        </ul>
      </div>
      <div class="service-gallery-wrapper">
        <h4>Фотогалерея</h4>
        <div class="navigation">
          <button class="service-gallery-prev">
            <img src="@img/arrow-left.svg" alt="arrow" />
          </button>
          <div class="pagination service-gallery-pagination"></div>

          <button class="service-gallery-next">
            <img src="@img/arrow-right.svg" alt="arrow" />
          </button>
        </div>
        <div class="service-gallery-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a
                class="image-wrapper"
                href="@img/gallery1.jpg"
                data-fancybox="service-gallery"
              >
                <img src="@img/gallery1.jpg" alt="" />
              </a>
            </div>
            <div class="swiper-slide">
              <a
                class="image-wrapper"
                href="@img/gallery1.jpg"
                data-fancybox="service-gallery"
              >
                <img src="@img/gallery1.jpg" alt="" />
              </a>
            </div>
            <div class="swiper-slide">
              <a
                class="image-wrapper"
                href="@img/gallery1.jpg"
                data-fancybox="service-gallery"
              >
                <img src="@img/gallery1.jpg" alt="" />
              </a>
            </div>
            <div class="swiper-slide">
              <a
                class="image-wrapper"
                href="@img/gallery1.jpg"
                data-fancybox="service-gallery"
              >
                <img src="@img/gallery1.jpg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
