<div class="theme-selector">
  <button type="button" class="theme-selector-btn">
    <p>Выберите тему</p>
    <span
      ><svg
        width="12"
        height="8"
        viewBox="0 0 12 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.5 1.75L6 6.25L10.5 1.75"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
  </button>
  <div class="theme-selector-content">
    <div class="selector-list">
      <label>
        <input type="checkbox" />
        <span>Добавление недостающих документов</span>
      </label>
      <label>
        <input type="checkbox" />
        <span>Получение паспорта</span>
      </label>
      <label>
        <input type="checkbox" />
        <span>Замена старых документов на новые</span>
      </label>
    </div>
  </div>
</div>
