<div class="hero">
  <div class="hero-main">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline preload="none">
        <source src="./files/hero.mp4" type="video/mp4" />
      </video>
      <div class="title">
        valkov <br />
        event
      </div>
    </div>
  </div>
  <div class="running-lines">
    <div class="scroller">
      <div class="scroller__inner" data-speed="slow">
        <span> concert </span>
        <span class="abraxas"> performances </span>
        <span> artist booking </span>
        <span class="abraxas"> show </span>
        <span> concert </span>
        <span class="abraxas"> performances </span>
        <span> artist booking </span>
        <span class="abraxas"> show </span>
        <span> concert </span>
        <span class="abraxas"> performances </span>
        <span> artist booking </span>
        <span class="abraxas"> show </span>
      </div>
    </div>
    <div class="scroller">
      <div class="scroller__inner">
        <span class="abraxas">INTERNACIONAL</span>
        <span>event agency</span>
        <div class="image-wrapper">
          <img src="@img/line-square.svg" alt="square" />
        </div>
        <span class="abraxas">INTERNACIONAL</span>
        <span>event agency</span>
        <div class="image-wrapper">
          <img src="@img/line-square.svg" alt="square" />
        </div>
        <span class="abraxas">INTERNACIONAL</span>
        <span>event agency</span>
        <div class="image-wrapper">
          <img src="@img/line-square.svg" alt="square" />
        </div>
        <span class="abraxas">INTERNACIONAL</span>
        <span>event agency</span>
        <div class="image-wrapper">
          <img src="@img/line-square.svg" alt="square" />
        </div>
        <span class="abraxas">INTERNACIONAL</span>
        <span>event agency</span>
        <div class="image-wrapper">
          <img src="@img/line-square.svg" alt="square" />
        </div>
      </div>
    </div>
  </div>
</div>
