<div class="contacts">
  <div class="contacts-inner container">
    <img src="@img/logo.svg" alt="logo" />
    <span>ежедневно с 10.00 до 22.00</span>
    <a href="tel:+7 (900) 152-25-52">+7 (900) 152-25-52</a>
    <p>Ул. Тайнинская 9, ЖК Нормандия</p>
    <div class="socials">
      <a href="#" target="_blank">
        <img src="@img/tg.svg" alt="" />
      </a>
      <a href="#" target="_blank">
        <img src="@img/wa.svg" alt="" />
      </a>
      <a href="#" target="_blank">
        <img src="@img/vk.svg" alt="" />
      </a>
    </div>
  </div>
</div>
