<header class="register-header">
  <div class="container">
    <div class="header-inner">
      <a href="home.html" class="logo">
        <img src="@img/logo.png" alt="logo" />
      </a>
      <nav ref="list">
        <ul>
          <li><a href="#">Перейти на детский лагерь</a></li>
          <li><a href="#">Перейти на базу отдыха</a></li>
        </ul>
      </nav>
      <div class="person">
        <button class="notification">
          <svg
            width="39"
            height="37"
            viewBox="0 0 39 37"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M38 28.75H1C2.47195 28.75 3.88362 28.1653 4.92444 27.1244C5.96527 26.0836 6.55 24.672 6.55 23.2V13.95C6.55 10.5154 7.91437 7.22156 10.343 4.79297C12.7716 2.36437 16.0654 1 19.5 1C22.9346 1 26.2284 2.36437 28.657 4.79297C31.0856 7.22156 32.45 10.5154 32.45 13.95V23.2C32.45 24.672 33.0347 26.0836 34.0756 27.1244C35.1164 28.1653 36.528 28.75 38 28.75Z"
              fill="#C4C4C4"
              stroke="#C4C4C4"
              stroke-width="1.92115"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.6998 33.1904C22.3746 33.7511 21.9077 34.2165 21.346 34.5401C20.7844 34.8636 20.1475 35.0339 19.4993 35.0339C18.8511 35.0339 18.2143 34.8636 17.6526 34.5401C17.0909 34.2165 16.6241 33.7511 16.2988 33.1904"
              stroke="#C4C4C4"
              stroke-width="3.33"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="hidden-content">
            <h5>
              У вас нет <br />
              уведомлений
            </h5>
          </div>
        </button>
        <button class="profile">
          <div class="image-wrapper">
            <img src="@img/user.png" alt="user" />
          </div>
          <div class="person-name">Константинопольский <br />Константин</div>
          <div class="hidden-menu">
            <nav>
              <ul>
                <li>
                  <a href="#"
                    >Как пользоваться <br />
                    личным кабинетом?</a
                  >
                </li>
                <li>
                  <a href="#">Выйти</a>
                </li>
              </ul>
            </nav>
          </div>
        </button>
      </div>
      <div class="burger account-burger"></div>
    </div>
  </div>
</header>
