<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab">Верификация сотрудников</button>
        <button class="tab">Обработка заявок</button>
        <button class="tab active">Пользователи</button>
      </div>
      <div class="account-content">
        <div class="top">
          <div class="left">
            <h4>Поиск пользователя</h4>
            <label>
              <input type="text" />
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.9999 20.9999L16.6499 16.6499"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </label>
          </div>
          <button class="outline-purple export">Экспорт</button>
        </div>
        <div class="search-list">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <th>ФИО</th>
                <th>
                  <button>
                    Тип пользователя
                    <svg
                      width="12"
                      height="8"
                      viewBox="0 0 12 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1.5L6 6.5L11 1.5"
                        stroke="#1A1A1A"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </th>
                <th>Табельный номер</th>
                <th>Почта</th>
                <th>Номер телефона</th>
                <th>
                  <button>
                    Профиль
                    <svg
                      width="12"
                      height="8"
                      viewBox="0 0 12 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1.5L6 6.5L11 1.5"
                        stroke="#1A1A1A"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </th>
              </tr>
              <tr>
                <th>
                  Константинопольский <br />
                  Иван Константинович
                </th>
                <td>Действующий сотрудник</td>
                <td>83472993</td>
                <td>kons.k.i@mggt.ru</td>
                <td>+7 934 345 53 43</td>
                <td>
                  <button
                    class="clear-purple representative-info-btn"
                    data-representativeId="1"
                  >
                    Посмотреть
                  </button>
                </td>
              </tr>
              <tr>
                <th>
                  Филатов Максим <br />
                  Анатольевич
                </th>
                <td>Пенсионер (бывший сотрудник)</td>
                <td>—</td>
                <td>filatov@gmail.com</td>
                <td>+7 951 533 90 12</td>
                <td>
                  <button
                    class="clear-purple representative-info-btn"
                    data-representativeId="1"
                  >
                    Посмотреть
                  </button>
                </td>
              </tr>
              <tr>
                <th>
                  Алексашин Алексей <br />
                  Петрович
                </th>
                <td>Ребенок</td>
                <td>—</td>
                <td>—</td>
                <td>—</td>
                <td>
                  <button class="clear-purple child-info-btn" data-childId="1">
                    Посмотреть
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
