<div class="service-modal" data-service="@@service">
  <div class="service-modal-content">
    <button class="close-modal">
      <svg
        width="42"
        height="18"
        viewBox="0 0 42 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L41 17" stroke="white" />
        <path d="M1 17L41 1" stroke="white" />
      </svg>
    </button>
    <h3>бизнес мероприятия</h3>
    <div class="service-modal-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/service-swiper.jpg" alt="service" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/service-swiper.jpg" alt="service" />
          </div>
        </div>
      </div>
      <div class="navigation">
        <button class="service-modal-nav-prev">
          <svg
            width="39"
            height="35"
            viewBox="0 0 39 35"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.2308 0L2.28882e-05 12.5641V17.5L24.2308 4.9359V0ZM2.28882e-05 17.5L24.2308 30.0641V35L2.28882e-05 22.4359V17.5ZM38.1411 14.8077H8.52567V19.2949H38.1411V14.8077Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="service-modal-nav-next">
          <svg
            width="39"
            height="35"
            viewBox="0 0 39 35"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.7693 0L39 12.5641V17.5L14.7693 4.9359V0ZM39 17.5L14.7693 30.0641V35L39 22.4359V17.5ZM0.859009 14.8077H30.4744V19.2949H0.859009V14.8077Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="about">
      <div class="about-item">
        <h5>
          Эффективно укреплять командный дух персонала организации и сплачивать
          рабочий коллектив - это грамотно организованные корпоративные
          мероприятия профессионалами.
        </h5>
        <p>
          Корпоративные event-мероприятия формируют новые цепочки
          взаимоотношений в коллективе, что положительно сказывается на рабочем
          процессе, обеспечивая доброжелательный эмоциональный фон в компании.
          Корпоративные мероприятия компании позволяют сплотить группу и
          повысить работоспособность всего персонала.
        </p>
        <p>
          Сотрудники учатся договариваться, создавать что-то совместными
          усилиями и решать важные задачи в непринужденной атмосфере.
        </p>
        <p>
          Компания Art of Events разработает эксклюзивную и уникальную программу
          для вашей компании.
        </p>
        <p>
          Мотивационные поездки, интенсив туры, развлекательные программы, и
          многое другое под ваши особенности бизнеса и применяемые инструменты.
        </p>
        <p>
          Каждое разработанное нами мероприятие уникально и преследует свои
          задачи.
        </p>
        <p>
          Еще один бонус для ваших сотрудников - это повышение эффективности
          труда, то есть нематериальная мотивация сотрудников. Мы также можем
          предложить
        </p>
      </div>
      <div class="about-item">
        <h5>Корпоративы. Развлекательные мероприятия внутри компании</h5>
        <ul>
          <li>
            <img src="@img/star.svg" alt="star" />
            Квесты. Интеллектуально-развлекательные мероприятия для развития и
            укрепления командных действий;
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Спортивные мероприятия. Игры и соревнования, которые также призваны
            улучшить работу в команде;
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Тренинги. Образовательные программы для сотрудников;
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Тимбилдинги. Игровые механики.
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Шоу-промоушн
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Розыгрыши лотереи
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Спортивные матчи и турниры и многое другое.
          </li>
          <li>
            <img src="@img/star.svg" alt="star" />
            Мы обращаем внимание на мелочи, учитываем потребности людей и готовы
            к их исполнению.
          </li>
        </ul>
        <p>
          А все потому, что интересные мероприятия всегда вызывают у людей
          положительные эмоции, чувство причастности к происходящему и желание
          поделиться с другими. А Вы знали, что с помощью событийного маркетинга
          можно решать десятки задач?
        </p>
        <p>
          Art of Events поможет организовать, что позволит сгенерировать
          качественный фидбек, повысить узнаваемость бренда и NPS (индекс
          потребительской лояльности). Приурочив ваше мероприятие к празднику
          или резонансному событию, можно привлечь широкое общественное
          внимание.
        </p>
        <p>
          События не только формируют лояльность аудитории к компании, но и сам
          по себе инструмент создает вирусный эффект. А значит, рекламирует
          бренд и уменьшает затраты на продвижение.
        </p>
      </div>
    </div>
  </div>
</div>
