<div class="services">
  <div class="services-inner container">
    <h3>Услуги</h3>
    <div class="content">
      <div class="service-card">
        <div class="image-wrapper">
          <img src="@img/service1.jpg" alt="image" />
          <div class="inner-img">
            <img src="@img/service-inner.jpg" alt="image" />
          </div>
        </div>
        <div class="service-card-content">
          <h4>Инъекционная косметология</h4>
          <div class="services-list">
            <div class="col">
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Биоревитализация</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Увеличение губ</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Плазмотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Мезотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Ботулинотерапия (ботокс)</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card text-left">
        <div class="image-wrapper">
          <img src="@img/service2.jpg" alt="image" />
          <div class="inner-img">
            <img src="@img/service-inner.jpg" alt="image" />
          </div>
        </div>
        <div class="service-card-content">
          <h4>Аппаратная косметология</h4>
          <div class="services-list">
            <div class="col">
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Биоревитализация</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Увеличение губ</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Плазмотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Мезотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Ботулинотерапия (ботокс)</p>
              </button>
            </div>
            <div class="col">
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Биоревитализация</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Увеличение губ</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Плазмотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Мезотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Ботулинотерапия (ботокс)</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="image-wrapper">
          <img src="@img/service1.jpg" alt="image" />
          <div class="inner-img">
            <img src="@img/service-inner.jpg" alt="image" />
          </div>
        </div>
        <div class="service-card-content">
          <h4>Эстетическая косметология</h4>
          <div class="services-list">
            <div class="col">
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Биоревитализация</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Увеличение губ</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Плазмотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Мезотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Ботулинотерапия (ботокс)</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="service-card text-left">
        <div class="image-wrapper">
          <img src="@img/service2.jpg" alt="image" />
          <div class="inner-img">
            <img src="@img/service-inner.jpg" alt="image" />
          </div>
        </div>
        <div class="service-card-content">
          <h4>Эстетическая косметология</h4>
          <div class="services-list">
            <div class="col">
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Биоревитализация</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Увеличение губ</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Плазмотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Мезотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Ботулинотерапия (ботокс)</p>
              </button>
            </div>
            <div class="col">
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Биоревитализация</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Увеличение губ</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Плазмотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Мезотерапия</p>
              </button>
              <button class="service-btn" data-service="1">
                <div class="icon">
                  <img src="@img/arrow-right.svg" alt="arrow" />
                </div>
                <p>Ботулинотерапия (ботокс)</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="price">
      <div class="price-content">
        <p>цены на услуги</p>
        <button>
          <img src="@img/price.svg" alt="" />
          <p>Смотреть прайс</p>
        </button>
      </div>
      <!-- <img src="@img/price.jpg" alt="" /> -->
    </div>
  </div>
</div>
