:root {
  --yellow-color: #ffaf00;
  --beige-color: #ffe7af;
  --purple-color: #833a8a;
  --lavand-color: #facbff;
  --rose-color: #ff0056;
  --light-rose-color: #ffcbd2;
  --pink-color: #ff4281;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #dedede;
  --trs-300: 300ms ease;
  --trs-600: 600ms ease;
  --trs-800: 800ms ease;
  --gradient: linear-gradient(
    90deg,
    rgba(255, 175, 0, 1) 0%,
    rgba(246, 24, 103, 1) 49%,
    rgba(130, 58, 138, 1) 100%
  );
  --shadow: 0px 4px 30px 0px rgba(34, 60, 80, 0.25);
}

.direction {
  background-color: var(--yellow-color);
  background-image: url("../img/direction/bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 8;
}
@media (max-width: 1024px) {
  .direction {
    background-image: url("../img/direction/bg-mob.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.direction:after {
  content: "";
  position: absolute;
  background: url("../img/shapes/shape-direction.svg");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -55px;
  width: 100%;
  height: 60px;
}
@media (max-width: 767px) {
  .direction:after {
    background: url("../img/shapes/shape-direction-mob.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.direction .direction-wrapper {
  overflow: hidden;
}
.direction .direction-inner {
  padding-top: 130px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .direction .direction-inner {
    padding-top: 303px;
  }
}
.direction .direction-inner .pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;
}
.direction .direction-inner .pagination .pagination-bullet {
  width: 15px;
  height: 15px;
  background: var(--white-color) !important;
  opacity: 1;
  border-radius: 999px;
  cursor: pointer;
}
.direction .direction-inner .pagination .pagination-bullet-active {
  background: var(--purple-color) !important;
}
.direction .direction-inner .top .direction-about {
  max-width: 776px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 44px;
  background: url("../img/direction/rectange.svg");
  background-size: contain;
  background-position: center;
  padding: 36px 40px 50px 57px;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .direction .direction-inner .top .direction-about {
    background: none;
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .direction .direction-inner .top .direction-about .title-wrapper {
    background: var(--white-color);
    padding: 19px 20px 30px 24px;
    border-radius: 20px;
  }
}
.direction .direction-inner .top .direction-about h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  background-image: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}
@media (max-width: 1024px) {
  .direction .direction-inner .top .direction-about h3 {
    font-size: 40px;
    line-height: 44px;
  }
}
.direction .direction-inner .top .direction-about p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 1024px) {
  .direction .direction-inner .top .direction-about p {
    font-size: 18px;
    line-height: 25px;
    padding-left: 30px;
  }
}
.direction .direction-inner .bottom {
  margin-top: 233px;
}
@media (max-width: 1024px) {
  .direction .direction-inner .bottom {
    margin-top: 40px;
  }
}/*# sourceMappingURL=direction.component.css.map */