@import "../../common/files/variables.scss";

.accordion-item.active {
  button {
    border-radius: 12px 12px 0 0;
    .icon {
      &:after {
        height: 0;
      }
    }
  }
  .collapse {
    background: var(--white-color);
    border-radius: 0 0 12px 12px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (max-width: $tab) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    p {
    }
  }
}
.accordion-item {
  overflow: hidden;
  transition: var(--trs-300);
  width: 100%;
  button {
    width: 100%;
    background: var(--purple-color);
    padding: 15px 40px !important;
    height: fit-content;
    border-radius: 12px;
    transition: var(--trs-300);
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      text-align: left;
      color: var(--white-color);
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      pointer-events: none;
      @media (max-width: $tab) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .icon {
      width: 33px;
      height: 33px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      &:before {
        content: "";
        width: 33px;
        height: 3px;
        background: var(--white-color);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: block;
      }
      &:after {
        content: "";
        height: 33px;
        width: 3px;
        background: var(--white-color);
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: block;
        transition: var(--trs-300);
      }
    }
  }
  .collapse {
    background: var(--white-color);
    border-radius: 0 0 12px 12px;
    transition: var(--trs-300);
    p {
      padding: 0 40px;
      transition: var(--trs-300);
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      @media (max-width: $tab) {
        font-size: 16px;
        line-height: 22px;
        padding: 0 20px;
      }
    }
  }
}
