<div class="faq container">
  <div class="left">
    <h3>f.a.q</h3>
  </div>
  <div class="right">
    <div class="accordion">
      <div class="accordion-item">
        <button class="accordion-title">
          <p>как купить билет?</p>
          <div class="icon">
            <svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="9" width="9" height="5" fill="white" />
              <rect x="14" y="9" width="9" height="5" fill="white" />
              <rect
                x="9"
                y="9"
                width="9"
                height="5"
                transform="rotate(-90 9 9)"
                fill="white"
              />
              <rect
                x="9"
                y="23"
                width="9"
                height="5"
                transform="rotate(-90 9 23)"
                fill="white"
              />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <p>
            Эффективно укреплять командный дух персонала организации и
            сплачивать рабочий коллектив - это грамотно организованные
            корпоративные мероприятия профессионалами. Корпоративные
            event-мероприятия формируют новые цепочки взаимоотношений в
            коллективе, что положительно сказывается на рабочем процессе,
            обеспечивая доброжелательный эмоциональный фон в компании.
            Корпоративные мероприятия компании позволяют сплотить группу и
            повысить работоспособность всего персонала. Сотрудники учатся
            договариваться, создавать что-то совместными усилиями и решать
            важные задачи в непринужденной атмосфере. Компания Art of Events
            разработает эксклюзивную и уникальную программу для вашей компании.
            Мотивационные поездки, интенсив туры, развлекательные программы, и
            многое другое под ваши особенности бизнеса и применяемые
            инструменты.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>как вернуть деньги за билет?</p>
          <div class="icon">
            <svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="9" width="9" height="5" fill="white" />
              <rect x="14" y="9" width="9" height="5" fill="white" />
              <rect
                x="9"
                y="9"
                width="9"
                height="5"
                transform="rotate(-90 9 9)"
                fill="white"
              />
              <rect
                x="9"
                y="23"
                width="9"
                height="5"
                transform="rotate(-90 9 23)"
                fill="white"
              />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <p>
            Эффективно укреплять командный дух персонала организации и
            сплачивать рабочий коллектив - это грамотно организованные
            корпоративные мероприятия профессионалами. Корпоративные
            event-мероприятия формируют новые цепочки взаимоотношений в
            коллективе, что положительно сказывается на рабочем процессе,
            обеспечивая доброжелательный эмоциональный фон в компании.
            Корпоративные мероприятия компании позволяют сплотить группу и
            повысить работоспособность всего персонала. Сотрудники учатся
            договариваться, создавать что-то совместными усилиями и решать
            важные задачи в непринужденной атмосфере. Компания Art of Events
            разработает эксклюзивную и уникальную программу для вашей компании.
            Мотивационные поездки, интенсив туры, развлекательные программы, и
            многое другое под ваши особенности бизнеса и применяемые
            инструменты.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>Как вернуть билеты за отмененное мероприятие?</p>
          <div class="icon">
            <svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="9" width="9" height="5" fill="white" />
              <rect x="14" y="9" width="9" height="5" fill="white" />
              <rect
                x="9"
                y="9"
                width="9"
                height="5"
                transform="rotate(-90 9 9)"
                fill="white"
              />
              <rect
                x="9"
                y="23"
                width="9"
                height="5"
                transform="rotate(-90 9 23)"
                fill="white"
              />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <p>
            Эффективно укреплять командный дух персонала организации и
            сплачивать рабочий коллектив - это грамотно организованные
            корпоративные мероприятия профессионалами. Корпоративные
            event-мероприятия формируют новые цепочки взаимоотношений в
            коллективе, что положительно сказывается на рабочем процессе,
            обеспечивая доброжелательный эмоциональный фон в компании.
            Корпоративные мероприятия компании позволяют сплотить группу и
            повысить работоспособность всего персонала. Сотрудники учатся
            договариваться, создавать что-то совместными усилиями и решать
            важные задачи в непринужденной атмосфере. Компания Art of Events
            разработает эксклюзивную и уникальную программу для вашей компании.
            Мотивационные поездки, интенсив туры, развлекательные программы, и
            многое другое под ваши особенности бизнеса и применяемые
            инструменты.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>у меня проблемы с оплатой, что делать?</p>
          <div class="icon">
            <svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="9" width="9" height="5" fill="white" />
              <rect x="14" y="9" width="9" height="5" fill="white" />
              <rect
                x="9"
                y="9"
                width="9"
                height="5"
                transform="rotate(-90 9 9)"
                fill="white"
              />
              <rect
                x="9"
                y="23"
                width="9"
                height="5"
                transform="rotate(-90 9 23)"
                fill="white"
              />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <p>
            Эффективно укреплять командный дух персонала организации и
            сплачивать рабочий коллектив - это грамотно организованные
            корпоративные мероприятия профессионалами. Корпоративные
            event-мероприятия формируют новые цепочки взаимоотношений в
            коллективе, что положительно сказывается на рабочем процессе,
            обеспечивая доброжелательный эмоциональный фон в компании.
            Корпоративные мероприятия компании позволяют сплотить группу и
            повысить работоспособность всего персонала. Сотрудники учатся
            договариваться, создавать что-то совместными усилиями и решать
            важные задачи в непринужденной атмосфере. Компания Art of Events
            разработает эксклюзивную и уникальную программу для вашей компании.
            Мотивационные поездки, интенсив туры, развлекательные программы, и
            многое другое под ваши особенности бизнеса и применяемые
            инструменты.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>не поступили деньги за возврат, что делать?</p>
          <div class="icon">
            <svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="9" width="9" height="5" fill="white" />
              <rect x="14" y="9" width="9" height="5" fill="white" />
              <rect
                x="9"
                y="9"
                width="9"
                height="5"
                transform="rotate(-90 9 9)"
                fill="white"
              />
              <rect
                x="9"
                y="23"
                width="9"
                height="5"
                transform="rotate(-90 9 23)"
                fill="white"
              />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <p>
            Эффективно укреплять командный дух персонала организации и
            сплачивать рабочий коллектив - это грамотно организованные
            корпоративные мероприятия профессионалами. Корпоративные
            event-мероприятия формируют новые цепочки взаимоотношений в
            коллективе, что положительно сказывается на рабочем процессе,
            обеспечивая доброжелательный эмоциональный фон в компании.
            Корпоративные мероприятия компании позволяют сплотить группу и
            повысить работоспособность всего персонала. Сотрудники учатся
            договариваться, создавать что-то совместными усилиями и решать
            важные задачи в непринужденной атмосфере. Компания Art of Events
            разработает эксклюзивную и уникальную программу для вашей компании.
            Мотивационные поездки, интенсив туры, развлекательные программы, и
            многое другое под ваши особенности бизнеса и применяемые
            инструменты.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>что делать, если мероприятие перенесли или отменили?</p>
          <div class="icon">
            <svg
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="9" width="9" height="5" fill="white" />
              <rect x="14" y="9" width="9" height="5" fill="white" />
              <rect
                x="9"
                y="9"
                width="9"
                height="5"
                transform="rotate(-90 9 9)"
                fill="white"
              />
              <rect
                x="9"
                y="23"
                width="9"
                height="5"
                transform="rotate(-90 9 23)"
                fill="white"
              />
            </svg>
          </div>
        </button>
        <div class="collapse accordion-body">
          <p>
            Эффективно укреплять командный дух персонала организации и
            сплачивать рабочий коллектив - это грамотно организованные
            корпоративные мероприятия профессионалами. Корпоративные
            event-мероприятия формируют новые цепочки взаимоотношений в
            коллективе, что положительно сказывается на рабочем процессе,
            обеспечивая доброжелательный эмоциональный фон в компании.
            Корпоративные мероприятия компании позволяют сплотить группу и
            повысить работоспособность всего персонала. Сотрудники учатся
            договариваться, создавать что-то совместными усилиями и решать
            важные задачи в непринужденной атмосфере. Компания Art of Events
            разработает эксклюзивную и уникальную программу для вашей компании.
            Мотивационные поездки, интенсив туры, развлекательные программы, и
            многое другое под ваши особенности бизнеса и применяемые
            инструменты.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
