<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab active">Бронирование</button>
        <button class="tab">
          Текущие заявки <span class="notification">2</span>
        </button>
        <button class="tab">История</button>
        <button class="tab">Данные</button>
        <button class="tab">Как пользоватья ЛК</button>
      </div>
      <div class="account-content">
        <div class="add-child-success">
          <div class="top">
            <h4>Запрос отправлен!</h4>
            <button>
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 36.6663C29.2048 36.6663 36.6667 29.2044 36.6667 19.9997C36.6667 10.7949 29.2048 3.33301 20 3.33301C10.7953 3.33301 3.33337 10.7949 3.33337 19.9997C3.33337 29.2044 10.7953 36.6663 20 36.6663Z"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M25 15L15 25"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15 15L25 25"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <div class="alert-success">
            <div class="image-wrapper">
              <img src="@img/mail.png" alt="mail" />
            </div>
            <p>
              Ожидайте, уведомление поступит на почту указанную при регистрации
              личного кабинета. Статус заявки вы всегда можете посмотреть в
              личном кабинете во вкладке «Текущие заявки»
            </p>
          </div>
          <button class="purple add-new">Создать еще одну заявку</button>
        </div>
      </div>
    </div>
  </div>
</div>
