<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab active">Бронирование</button>
        <button class="tab">Текущие заявки</button>
        <button class="tab">История</button>
        <button class="tab">Данные</button>
        <button class="tab">Как пользоватья ЛК</button>
      </div>
      <div class="account-content">
        <div class="child-documents">
          <div class="top">
            <h4>Кто поедет в лагерь</h4>
            <button>
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 36.6663C29.2048 36.6663 36.6667 29.2044 36.6667 19.9997C36.6667 10.7949 29.2048 3.33301 20 3.33301C10.7953 3.33301 3.33337 10.7949 3.33337 19.9997C3.33337 29.2044 10.7953 36.6663 20 36.6663Z"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M25 15L15 25"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15 15L25 25"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>

          <div class="child-documents-content">
            <div class="child-documents-list">
              <div class="child-documents-item">
                <h4>Константинопольский Иван Константинович</h4>
                <ul>
                  <li class="success">
                    <p>Страница паспорта с фото</p>
                  </li>
                  <li class="success">
                    <p>Страница паспорта с регистрацией</p>
                  </li>
                  <li class="success">
                    <p>Свидетельство о рождении</p>
                  </li>
                </ul>
                <div class="btn-wrapper">
                  <button class="purple">Выбрать</button>
                </div>
              </div>
              <div class="child-documents-item">
                <h4>Константинопольский Иван Константинович</h4>
                <ul>
                  <li class="reject">
                    <p>Страница паспорта с фото</p>
                    <button class="comment-modal-btn" data-commentId="1">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                          stroke="#767676"
                          stroke-width="1.375"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M11.9883 15.4688C11.9883 16.0146 11.5458 16.457 11 16.457C10.4542 16.457 10.0117 16.0146 10.0117 15.4688C10.0117 14.9229 10.4542 14.4805 11 14.4805C11.5458 14.4805 11.9883 14.9229 11.9883 15.4688Z"
                          fill="#767676"
                          stroke="#767676"
                          stroke-width="0.0859375"
                        />
                        <path
                          d="M11 12.375V11.6875C11.4759 11.6875 11.9411 11.5464 12.3368 11.282C12.7325 11.0176 13.041 10.6418 13.2231 10.2021C13.4052 9.7624 13.4529 9.27858 13.36 8.81181C13.2672 8.34505 13.038 7.9163 12.7015 7.57978C12.365 7.24326 11.9362 7.01408 11.4694 6.92124C11.0027 6.82839 10.5189 6.87604 10.0792 7.05817C9.63948 7.24029 9.26368 7.5487 8.99928 7.94441C8.73487 8.34012 8.59375 8.80534 8.59375 9.28125"
                          stroke="#767676"
                          stroke-width="1.375"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                  </li>
                  <li class="reject">
                    <p>Страница паспорта с регистрацией</p>
                    <button class="comment-modal-btn" data-commentId="1">
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                          stroke="#767676"
                          stroke-width="1.375"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M11.9883 15.4688C11.9883 16.0146 11.5458 16.457 11 16.457C10.4542 16.457 10.0117 16.0146 10.0117 15.4688C10.0117 14.9229 10.4542 14.4805 11 14.4805C11.5458 14.4805 11.9883 14.9229 11.9883 15.4688Z"
                          fill="#767676"
                          stroke="#767676"
                          stroke-width="0.0859375"
                        />
                        <path
                          d="M11 12.375V11.6875C11.4759 11.6875 11.9411 11.5464 12.3368 11.282C12.7325 11.0176 13.041 10.6418 13.2231 10.2021C13.4052 9.7624 13.4529 9.27858 13.36 8.81181C13.2672 8.34505 13.038 7.9163 12.7015 7.57978C12.365 7.24326 11.9362 7.01408 11.4694 6.92124C11.0027 6.82839 10.5189 6.87604 10.0792 7.05817C9.63948 7.24029 9.26368 7.5487 8.99928 7.94441C8.73487 8.34012 8.59375 8.80534 8.59375 9.28125"
                          stroke="#767676"
                          stroke-width="1.375"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                  </li>
                  <li class="success">
                    <p>Свидетельство о рождении</p>
                  </li>
                </ul>
                <div class="btn-wrapper">
                  <button class="purple data-change-btn">
                    Обновить данные
                  </button>
                </div>
              </div>
              <button class="add-btn outline-purple">
                Добавить ребенка
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.2917 3.625H5.70833C4.55774 3.625 3.625 4.55774 3.625 5.70833V20.2917C3.625 21.4423 4.55774 22.375 5.70833 22.375H20.2917C21.4423 22.375 22.375 21.4423 22.375 20.2917V5.70833C22.375 4.55774 21.4423 3.625 20.2917 3.625Z"
                    stroke="#833A8A"
                    stroke-width="1.5625"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13 8.83398V17.1673"
                    stroke="#833A8A"
                    stroke-width="1.5625"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.83362 13H17.167"
                    stroke="#833A8A"
                    stroke-width="1.5625"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
