<div class="direction-swiper">
  <div class="navigation">
    <button class="swiper-direction-prev">
      <svg
        width="13"
        height="21"
        viewBox="0 0 13 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.7695 18.5625L2.54591 10.3389L10.7695 2.11526"
          stroke="#833A8A"
          stroke-width="3.52441"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="swiper-direction-next">
      <svg
        width="13"
        height="21"
        viewBox="0 0 13 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.05859 2.11523L10.2822 10.3389L2.05859 18.5625"
          stroke="#833A8A"
          stroke-width="3.52441"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <div class="swiper-direction">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="direction-card right" >
          <div class="left">
            <div class="photo">
              <div class="image-wrapper">
                <img src="@img/direction/1.jpg" alt="photo" />
              </div>
            </div>
            <div class="photo">
              <div class="image-wrapper">
                <img src="@img/direction/2.jpg" alt="photo" />
              </div>
            </div>
            <div class="photo">
              <div class="image-wrapper">
                <img src="@img/direction/3.jpg" alt="photo" />
              </div>
            </div>
          </div>
          <div class="right">
            <div class="badge primary">Пост 1</div>
            <div class="content">
              <p>Участники направления «Пост 1» изучают опыт функционирования мемориальных объектов Вахты Памяти в различных регионах, основные правила создания и презентации патриотических документальных фильмов, осваивают алгоритмы создания патриотических проектов.</p>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/1.jpg" alt="photo" />
                </div>
              </div>
              <span>Навыки</span>
              <ul>
                <li>
                    дети научатся действоватьбыстро и синхронно
                </li>
                <li>
                    принимать правильные решенияв нестандартных ситуациях
                </li>
            
              </ul>
            </div>
          </div>
        </div>
     
      </div>
      <div class="swiper-slide">
        <div class="direction-card left" >
            <div class="left">
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/4.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/5.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/6.jpg" alt="photo" />
                </div>
              </div>
            </div>
            <div class="right">
              <div class="badge primary">Хранители истории</div>
              <div class="content">
                <p>Среди участников направления «Хранители истории» проводится большая работа по подготовке экскурсоводов в «Музее воинской славы» и «Партизанская деревня».</p>
                <div class="photo">
                  <div class="image-wrapper">
                    <img src="@img/direction/4.jpg" alt="photo" />
                  </div>
                </div>
                <span>Навыки</span>
                <ul>
                  <li>
                      использование природных источников для поддержания жизнедеятельности
                  </li>
                  <li>
                      ориентирование в природных условиях в отсутствие специальных средств связи
                  </li>
                  <li>
                      необходимые качества для подготовкик службе в рядах Российской Армии
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="direction-card right" >
            <div class="left">
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/7.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/8.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/9.jpg" alt="photo" />
                </div>
              </div>
            </div>
            <div class="right">
              <div class="badge primary">Робототехника</div>
              <div class="content">
                <p>Наша программа предназначена для юных ученых и изобретателей. Участники курса познакомятся с основами робототехники, изучат принципы программирования и механики, а также получат уникальный опыт сборки</p>
                <div class="photo">
                  <div class="image-wrapper">
                    <img src="@img/direction/9.jpg" alt="photo" />
                  </div>
                </div>
                <span>Навыки</span>
                <ul>
                  <li>
                    практические навыки в области робототехники и программирования
                  </li>
                  <li>
                    понимание того, как технологии могутизменять мир вокруг нас
                  </li>
                  <li>
                    работа в команде над реальными проектами
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="direction-card left" >
            <div class="left">
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/10.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/11.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/12.jpg" alt="photo" />
                </div>
              </div>
            </div>
            <div class="right">
              <div class="badge primary">Медиа победы</div>
              <div class="content">
                <p>Участники получают навыки репортажа, а так же учатся, как правильно брать интервью. Готовят и выпускают радиоэфиры, где рассказывают о жизни в лагере, об интересных фактах из жизни вожатых и творческих способностях детей. </p>
                <div class="photo">
                  <div class="image-wrapper">
                    <img src="@img/direction/10.jpg" alt="photo" />
                  </div>
                </div>
                <span>Навыки</span>
                <ul>
                  <li>
                    понимание жанров кино, правильное изложение своих мыслей

                  </li>
                  <li>
                    знание особенностей документального кино, его видах, принципах и приёмах
                  </li>
                  <li>
                    техника создания сценария патриотического фильма
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div class="direction-card left" >
            <div class="left">
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/13.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/14.jpg" alt="photo" />
                </div>
              </div>
              <div class="photo">
                <div class="image-wrapper">
                  <img src="@img/direction/15.jpg" alt="photo" />
                </div>
              </div>
            </div>
            <div class="right">
              <div class="badge primary">Защитники</div>
              <div class="content">
                <p>Участники направления учатся проводить мероприятия различного уровня, связанные с героическими событиями нашей истории и направленные на формирование патриотизма.</p>
                <div class="photo">
                  <div class="image-wrapper">
                    <img src="@img/direction/13.jpg" alt="photo" />
                  </div>
                </div>
                <span>Навыки</span>
                <ul>
                  <li>
                    формы проведения акций «Георгиевская лента», «Свеча памяти», «Бессмертный полк»

                  </li>
                  <li>
                    искусство театрального мастерства
                  </li>
                  <li>
                    парашютная подготовка
                  </li>
                  <li>
                    высотная подготовка

                  </li>


                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
 
    </div>
  </div>

  <div class="pagination swiper-direction-pagination"></div>
</div>
