<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab active">Бронирование</button>
        <button class="tab">Текущие заявки</button>
        <button class="tab">История</button>
        <button class="tab">Данные</button>
        <button class="tab">Как пользоватья ЛК</button>
      </div>
      <div class="account-content">
        <div class="order-list">
          <div class="order-item">
            <div class="image-wrapper">
              <img src="@img/account/1.jpg" alt="account" />
            </div>
            <div class="order-content">
              <h5>Детский лагерь</h5>
              <button class="purple">Забронировать</button>
            </div>
          </div>
          <div class="order-item">
            <div class="image-wrapper">
              <img src="@img/account/2.jpg" alt="account" />
            </div>
            <div class="order-content">
              <h5>База отдыха</h5>
              <button class="purple">Забронировать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
