<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <div class="account-tabs">
          <button class="tab">Бронирование</button>
          <button class="tab">Текущие заявки</button>
          <button class="tab active">История</button>
          <button class="tab">Данные</button>
          <button class="tab">Как пользоватья ЛК</button>
        </div>
      </div>
      <div class="account-content">
        <div class="top">
          <h4>Заявки в лагерь</h4>
        </div>
        <div class="consideration-order">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <th>ФИО</th>
                <th>Смена</th>
                <th>Статус</th>
                <th>Оплата</th>
                <th>Путевка</th>
                <th>Документы</th>
                <th>ID заявки</th>
              </tr>
              <tr>
                <th>
                  Константинопольский <br />
                  Иван Константинович
                </th>
                <td>
                  <div class="column-row">
                    <span>Первая смена</span>
                    <p>01.06.24-21.06.24</p>
                  </div>
                </td>
                <td>
                  <div class="badge finish">Завершена</div>
                </td>
                <td>
                  <span class="success-icon">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="24" height="24" rx="4" fill="#F5F7FA" />
                      <path
                        d="M17.3337 8L10.0003 15.3333L6.66699 12"
                        stroke="#626262"
                        stroke-opacity="0.5"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <p class="purple">Оплатить</p>
                </td>
                <td>
                  <span class="success-icon">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="24" height="24" rx="4" fill="#F5F7FA" />
                      <path
                        d="M17.3337 8L10.0003 15.3333L6.66699 12"
                        stroke="#626262"
                        stroke-opacity="0.5"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <p class="purple">Скачать путевку</p>
                </td>
                <td>
                  <span class="success-icon">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="24" height="24" rx="4" fill="#F5F7FA" />
                      <path
                        d="M17.3337 8L10.0003 15.3333L6.66699 12"
                        stroke="#626262"
                        stroke-opacity="0.5"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <p class="purple">Прикрепить документы</p>
                </td>
                <td>224959</td>
              </tr>
            </tbody>
          </table>
          <button class="order-btn purple">
            Забронировать поездку в лагерь
          </button>
        </div>
        <div class="consideration-info">
          <h4>Заявки на базу отдыха</h4>
          <p>У вас пока нет заявок на базу отдыха</p>
          <button class="purple">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</div>
