<header>
    <div class="container">
      <div class="header-inner">
        <a href="home.html" class="logo">
          <img src="@img/logo.png" alt="logo" />
        </a>
        <nav ref="list">
          <ul>
            <li data-scroll="about">О базе отдыха</li>
            <li data-scroll="house">Проживание</li>
            <li data-scroll="nutrition">Активности</li>
            <li data-scroll="rest">Фотогалерея</li>
            <li data-scroll="documents">Документы</li>
            <li data-scroll="contacts">Контакты</li>
          </ul>
        </nav>
        <div class="info">
          <div class="left">
            <a href="tel:8 (495) 984-97-65">8 (495) 984-97-65</a>
          </div>
          <div class="right">
            <a href="#" >перейти в детский лагерь</a>
            <a href="#" class="outline"><p>Личный кабинет</p></ф>
          </div>
        </div>
        <div class="burger"></div>
      </div>
    </div>
  </header>
  