<div class="afisha" id="afisha">
  <div class="afisha-top">
    <div class="container">
      <div class="afisha-top-inner">
        <div class="left">
          <h3>афиша</h3>
        </div>
        <div class="center">
          <div class="afisha-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="image-wrapper">
                  <img src="@img/afisha.jpg" alt="afisha" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-wrapper">
                  <img src="@img/afisha.jpg" alt="afisha" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="image-wrapper">
                  <img src="@img/afisha.jpg" alt="afisha" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="afisha-info-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="info-top">
                  <div class="badges">
                    <div class="badge">03.03</div>
                    <div class="badge">
                      <span> 19:30 </span>
                      <svg
                        width="16"
                        height="14"
                        viewBox="0 0 16 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0 7H14.4M14.4 7L8.8837 1M14.4 7L8.8837 13"
                          stroke="white"
                        />
                      </svg>
                      <span> 23:30 </span>
                    </div>
                  </div>
                  <p>Эксклюзивный большой фестиваль искусств</p>
                  <div class="address">
                    <img src="@img/pin.svg" alt="pin" />
                    <span>Пхибунмангсахан, Buddha Bar</span>
                  </div>
                </div>
                <div class="info-bottom">
                  <div class="price">
                    <img src="@img/ticket.svg" alt="ticket" />
                    <p>от <span>1 500</span>бат</p>
                  </div>
                  <button data-afisha="1" class="afisha-about-btn">
                    <svg
                      width="55"
                      height="55"
                      viewBox="0 0 55 55"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="27.5" cy="27.5" r="27" stroke="#BAF86B" />
                      <rect x="16" y="25" width="9" height="5" fill="#BAF86B" />
                      <rect x="30" y="25" width="9" height="5" fill="#BAF86B" />
                      <rect
                        x="25"
                        y="25"
                        width="9"
                        height="5"
                        transform="rotate(-90 25 25)"
                        fill="#BAF86B"
                      />
                      <rect
                        x="25"
                        y="39"
                        width="9"
                        height="5"
                        transform="rotate(-90 25 39)"
                        fill="#BAF86B"
                      />
                    </svg>
                    подробнее
                  </button>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-top">
                  <div class="badges">
                    <div class="badge">03.03</div>
                    <div class="badge">
                      <span> 19:30 </span>
                      <svg
                        width="16"
                        height="14"
                        viewBox="0 0 16 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0 7H14.4M14.4 7L8.8837 1M14.4 7L8.8837 13"
                          stroke="white"
                        />
                      </svg>
                      <span> 23:30 </span>
                    </div>
                  </div>
                  <p>Эксклюзивный большой фестиваль искусств</p>
                  <div class="address">
                    <img src="@img/pin.svg" alt="pin" />
                    <span>Пхибунмангсахан, Buddha Bar</span>
                  </div>
                </div>
                <div class="info-bottom">
                  <div class="price">
                    <img src="@img/ticket.svg" alt="ticket" />
                    <p>от <span>1 500</span>бат</p>
                  </div>
                  <button data-afisha="1" class="afisha-about-btn">
                    <svg
                      width="55"
                      height="55"
                      viewBox="0 0 55 55"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="27.5" cy="27.5" r="27" stroke="#BAF86B" />
                      <rect x="16" y="25" width="9" height="5" fill="#BAF86B" />
                      <rect x="30" y="25" width="9" height="5" fill="#BAF86B" />
                      <rect
                        x="25"
                        y="25"
                        width="9"
                        height="5"
                        transform="rotate(-90 25 25)"
                        fill="#BAF86B"
                      />
                      <rect
                        x="25"
                        y="39"
                        width="9"
                        height="5"
                        transform="rotate(-90 25 39)"
                        fill="#BAF86B"
                      />
                    </svg>
                    подробнее
                  </button>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="info-top">
                  <div class="badges">
                    <div class="badge">03.03</div>
                    <div class="badge">
                      <span> 19:30 </span>
                      <svg
                        width="16"
                        height="14"
                        viewBox="0 0 16 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0 7H14.4M14.4 7L8.8837 1M14.4 7L8.8837 13"
                          stroke="white"
                        />
                      </svg>
                      <span> 23:30 </span>
                    </div>
                  </div>
                  <p>Эксклюзивный большой фестиваль искусств</p>
                  <div class="address">
                    <img src="@img/pin.svg" alt="pin" />
                    <span>Пхибунмангсахан, Buddha Bar</span>
                  </div>
                </div>
                <div class="info-bottom">
                  <div class="price">
                    <img src="@img/ticket.svg" alt="ticket" />
                    <p>от <span>1 500</span>бат</p>
                  </div>
                  <button data-afisha="1" class="afisha-about-btn">
                    <svg
                      width="55"
                      height="55"
                      viewBox="0 0 55 55"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="27.5" cy="27.5" r="27" stroke="#BAF86B" />
                      <rect x="16" y="25" width="9" height="5" fill="#BAF86B" />
                      <rect x="30" y="25" width="9" height="5" fill="#BAF86B" />
                      <rect
                        x="25"
                        y="25"
                        width="9"
                        height="5"
                        transform="rotate(-90 25 25)"
                        fill="#BAF86B"
                      />
                      <rect
                        x="25"
                        y="39"
                        width="9"
                        height="5"
                        transform="rotate(-90 25 39)"
                        fill="#BAF86B"
                      />
                    </svg>
                    подробнее
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="afisha-bottom">
    <div class="container">
      <div class="afisha-bottom-inner">
        <div class="navigation">
          <button class="afisha-nav-prev">
            <svg
              width="39"
              height="35"
              viewBox="0 0 39 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.2308 0L2.28882e-05 12.5641V17.5L24.2308 4.9359V0ZM2.28882e-05 17.5L24.2308 30.0641V35L2.28882e-05 22.4359V17.5ZM38.1411 14.8077H8.52567V19.2949H38.1411V14.8077Z"
                fill="white"
              />
            </svg>
          </button>
          <button class="afisha-nav-next">
            <svg
              width="39"
              height="35"
              viewBox="0 0 39 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14.7693 0L39 12.5641V17.5L14.7693 4.9359V0ZM39 17.5L14.7693 30.0641V35L39 22.4359V17.5ZM0.859009 14.8077H30.4744V19.2949H0.859009V14.8077Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
        <div class="pagination afisha-pagination"></div>
      </div>
    </div>
  </div>
</div>
