<div class="about-swiper">
  <div class="navigation">
    <button class="swiper-about-prev" variant="clear">
      <svg
        width="11"
        height="18"
        viewBox="0 0 11 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 16L2 9L9 2"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="swiper-about-next" variant="clear">
      <svg
        width="11"
        height="18"
        viewBox="0 0 11 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 2L9 9L2 16"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <div class="swiper-about">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="photo">
          <div class="image-wrapper">
            <img src="@img/about/swiper1.jpg" alt="photo" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="photo">
          <div class="image-wrapper">
            <img src="@img/about/swiper2.jpg" alt="photo" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="photo">
          <div class="image-wrapper">
            <img src="@img/about/swiper3.jpg" alt="photo" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="photo">
          <div class="image-wrapper">
            <img src="@img/about/swiper1.jpg" alt="photo" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="photo">
          <div class="image-wrapper">
            <img src="@img/about/swiper2.jpg" alt="photo" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="photo">
          <div class="image-wrapper">
            <img src="@img/about/swiper3.jpg" alt="photo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-about-pagination pagination"></div>
</div>
