<div class="faq">
  <div class="container">
    <div class="faq-inner">
      <h3>Вопрос/ответ</h3>
      <div class="faq-list accordion">
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Как доехать до лагеря?</p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Схема территории лагеря</p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Можно ли приехать навестить ребенка? </p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Что я могу привезти ребенку из еды?  </p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>
              Как связаться с воспитателем отряда, в который попал мой
              ребёнок?   
            </p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Где я смогу пообщаться с ребенком в часы посещения?  </p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Могу ли я забрать ребенка погулять?  </p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-title">
            <p>Где я могу посмотреть фотографии своего ребенка? </p>
            <div class="icon"></div>
          </button>
          <div class="collapse accordion-body">
            <p>
              Адрес: 143443 Московская область, г. Красногорск, микрорайон
              Опалиха, база отдыха и оздоровления детей (ДОЛ) «Искра».  Проезд: 
              Автотранспортом: из Москвы по Волоколамскому шоссе до микрорайона
              Опалиха, насветофоре направо, затем налево по лесному массиву 2
              км. Общественным транспортом: автобус или маршрутное такси от
              метро Тушинская до остановки Изумрудные холмы.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
