<div class="equipments">
  <div class="equipments-inner container">
    <div class="top">
      <h3>Оборудование и препараты</h3>
    </div>
    <div class="navigation">
      <button class="equipments-swiper-prev">
        <img src="@img/arrow-left.svg" alt="arrow" />
      </button>
      <div class="pagination equipments-pagination"></div>

      <button class="equipments-swiper-next">
        <img src="@img/arrow-right.svg" alt="arrow" />
      </button>
    </div>
    <div class="equipments-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment1.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Аппарат «холодной» плазмы ЭХВЧ 50 МТУСИ</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Используется в различных областях, включая разглаживание морщин,
              блефаропластику и лечение акне. Действие разностороннее, что
              позволяет достичь необходимого эффекта при разных степенях
              возрастных или патологических изменений.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment2.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Многофункциональная модульная эстетическая платформа M22</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Самая популярная платформа для неинвазивных лазерных и световых
              процедур. Состоит из четырёх основных модулей, каждый из которых
              оказывает своё воздействие на кожу и сосуды. Клинически
              подтвержденные результаты, легендарное качество компании Lumenis.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment3.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Аппарат KIM 8 (10 в 1)</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Широкий спектр функций для эффективной борьбы с целлюлитом и
              морщинами. Кримолот, липолазер, миостимуляция, кавитация, вакуум и
              RF лифтинг. Процедуры позволяют создавать разнообразные варианты и
              индивидуальные комплексы в зависимости от потребностей клиента.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment4.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Диодный лазер Alpha Plus </h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Профессиональный инновационный лазерный аппарат с более высокой
              пиковой мощностью лазера и сенсорной манипулой, позволяющий
              проводить лазерную эпиляцию на любых участках тела (включая зону
              бикини), а также оснащён интеллектуальной системой Android.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment1.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Аппарат «холодной» плазмы ЭХВЧ 50 МТУСИ</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Используется в различных областях, включая разглаживание морщин,
              блефаропластику и лечение акне. Действие разностороннее, что
              позволяет достичь необходимого эффекта при разных степенях
              возрастных или патологических изменений.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment2.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Многофункциональная модульная эстетическая платформа M22</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Самая популярная платформа для неинвазивных лазерных и световых
              процедур. Состоит из четырёх основных модулей, каждый из которых
              оказывает своё воздействие на кожу и сосуды. Клинически
              подтвержденные результаты, легендарное качество компании Lumenis.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment3.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Аппарат KIM 8 (10 в 1)</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Широкий спектр функций для эффективной борьбы с целлюлитом и
              морщинами. Кримолот, липолазер, миостимуляция, кавитация, вакуум и
              RF лифтинг. Процедуры позволяют создавать разнообразные варианты и
              индивидуальные комплексы в зависимости от потребностей клиента.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/equipment4.png" alt="equipment" />
          </div>
          <div class="content">
            <h4>Диодный лазер Alpha Plus </h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>
              Профессиональный инновационный лазерный аппарат с более высокой
              пиковой мощностью лазера и сенсорной манипулой, позволяющий
              проводить лазерную эпиляцию на любых участках тела (включая зону
              бикини), а также оснащён интеллектуальной системой Android.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
