@font-face {
  font-family: "Abraxas";
  src: local("Abraxas"), local("Abraxas"),
    url("../fonts/Abraxas.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RG-StandardMedium";
  src: local("RG-StandardMedium"), local("RG-StandardMedium"),
    url("../fonts/RG-StandardMedium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
