:root {
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #f3f3f3;
  --green-color: #586c52;
  --green-light-color: #cce3c4;

  --trs-300: 300ms ease;
  --trs-600: 600ms ease;
  --trs-800: 800ms ease;

  --shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

$desktop-xl: 2000px;
$desktop-lg: 1920px;
$desktop-md: 1440px;
$desktop-md-2: 1400px;
$desktop-sm: 1280px;
$tab: 1024px;
$tab-sm: 767px;
$pre-mob: 630px;
$mob: 500px;
