<header class="header">
  <div class="header-inner container">
    <div class="top">
      <div class="info">
        <p>ул.Тайнинская 9, ЖК Нормандия</p>
        <p>Ежедневно 10.00-22.00</p>
      </div>
      <div class="logo">
        <img src="@img/logo.svg" alt="logo" />
      </div>
      <div class="header-contacts">
        <a href="tel:+7 (900) 152-25-52">+7 (900) 152-25-52</a>
        <div class="socials">
          <a href="#" target="_blank">
            <img src="@img/tg.svg" alt="telegram" />
          </a>
          <a href="#" target="_blank">
            <img src="@img/wa.svg" alt="whatsapp" />
          </a>
        </div>
        <button class="btn primary">записаться</button>
      </div>
    </div>
    <div class="bottom">
      <button class="btn primary white">позвонить</button>
      <button class="btn primary">записаться</button>
    </div>
  </div>
</header>
