<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab">Бронирование</button>
        <button class="tab">Текущие заявки</button>
        <button class="tab">История</button>
        <button class="tab active">Данные</button>
        <button class="tab">Как пользоватья ЛК</button>
      </div>
      <div class="account-content">
        <div class="data">
          <div class="top">
            <h4>Мой профиль</h4>
          </div>
          <div class="data-content">
            <div class="data-card">
              <div class="data-card-top">
                <h5>
                  Константинопольский <br />
                  Константин Иванович
                </h5>
                <button class="outline-purple data-change-btn">
                  Запрос на изменение
                </button>
              </div>

              <div class="data-card-content">
                <div class="data-card-item">
                  <h6>Личные данные</h6>
                  <ul>
                    <li>
                      <span>Почта</span>
                      <p>kons@gmai.com</p>
                    </li>
                    <li>
                      <span>Телефон</span>
                      <p>+7 934 345 53 43</p>
                    </li>
                    <li>
                      <span>Таб номер</span>
                      <p>83472993</p>
                    </li>
                    <li>
                      <span>Адрес</span>
                      <p>Москва, Садовая-Кудринская, <br />25, 124</p>
                    </li>
                    <li>
                      <span>Место работы</span>
                      <p>Отдел продаж</p>
                    </li>
                  </ul>
                </div>
                <div class="data-card-item">
                  <h6>Документы</h6>
                  <ul>
                    <li>
                      <p>Страница паспорта с фото</p>
                    </li>
                    <li>
                      <p>Страница паспорта с регистрацией</p>
                    </li>
                    <li>
                      <p>Свидетельство о рождении</p>
                    </li>
                    <li>
                      <p>ИНН</p>
                    </li>
                    <li>
                      <p>СНИЛС</p>
                    </li>
                    <li>
                      <p>Справка с места работы</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h4>Дети</h4>
          <div class="data-child-content">
            <div class="data-card">
              <h5>
                Константинопольский <br />
                Константин Иванович
              </h5>

              <div class="data-card-content">
                <div class="data-card-item">
                  <h6>Личные данные</h6>
                  <ul>
                    <li>
                      <span>дата рождения</span>
                      <p>16.06.2009</p>
                    </li>
                  </ul>
                </div>
                <div class="data-card-item">
                  <h6>Документы</h6>
                  <ul>
                    <li>
                      <p>Страница паспорта с фото</p>
                    </li>
                    <li>
                      <p>Страница паспорта с регистрацией</p>
                    </li>
                    <li>
                      <p>Свидетельство о рождении</p>
                    </li>
                  </ul>
                </div>
              </div>
              <button class="outline-purple data-change-btn">
                Запрос на изменение
              </button>
            </div>
            <div class="data-card">
              <h5>
                Константинопольский <br />
                Константин Иванович
              </h5>

              <div class="data-card-content">
                <div class="data-card-item">
                  <h6>Личные данные</h6>
                  <ul>
                    <li>
                      <span>дата рождения</span>
                      <p>16.06.2014</p>
                    </li>
                  </ul>
                </div>
                <div class="data-card-item">
                  <h6>Документы</h6>
                  <ul>
                    <li>
                      <p>Страница паспорта с фото</p>
                    </li>
                  </ul>
                </div>
              </div>
              <button class="outline-purple data-change-btn">
                Запрос на изменение
              </button>
            </div>
          </div>
          <h4>Родственники</h4>
        </div>
      </div>
    </div>
  </div>
</div>
