<div id="contacts" class="contacts">
  <div class="container">
    <div class="contacts-inner">
      <div class="left">
        <h3>Контакты</h3>
        <div class="address">
          <span>Адрес</span>
          <p>
            Московская область, г. Красногорск, <br />
            микрорайон Опалиха, база отдыха <br />
            и оздоровления детей (ДОЛ) «Искра»
          </p>
        </div>
        <a href="mailto:nisaeva@mggt.ru" class="email">nisaeva@mggt.ru</a>
        <a href="mailto:dol-iskra-mggt@mail.ru" class="email"
          >dol-iskra-mggt@mail.ru
        </a>
        <div class="tel">
          <a href="tel:8 (495) 984-97-65">8 (495) 984-97-65</a>
          <p>Администратор</p>
        </div>
        <div class="tel">
          <a href="tel:8 (495) 984-97-61">8 (495) 984-97-61</a>
          <p>Бухгалтер</p>
        </div>
        <div class="tel">
          <a href="tel:8 (903) 773‑80‑55">8 (903) 773‑80‑55</a>
          <p>Профком</p>
        </div>
      </div>
      <div class="right"><div id="map" class="map"></div></div>
    </div>
  </div>
</div>
