<div class="hero">
  <div class="hero-inner container">
    <div class="badges">
      <div class="badge">Beauty <img src="@img/star.svg" alt="star" /></div>
      <div class="badge">SPA <img src="@img/star.svg" alt="star" /></div>
      <div class="badge">
        Cosmetology <img src="@img/star.svg" alt="star" />
      </div>
    </div>
    <div class="hero-info">
      <img src="@img/intersect.svg" alt="" />
      <p>
        Косметологическая студия <br />
        в Москве
      </p>
      <h1>Ellestetic</h1>
      <div class="descr">
        Система Nordlys позволяет удовлетворить растущие потребности пациентов в
        эстетических и дерматологических процедурах с помощью единой
        универсальной машины.
      </div>
      <button class="btn primary">записаться</button>
    </div>
  </div>
</div>
