<div id="documents" class="documents">
  <div class="documents-wrapper">
    <div class="container">
      <div class="documents-inner">
        <div class="top">
          <h3>Документы</h3>
        </div>
        <div class="bottom">
          <div class="documents-swiper">
            <div class="navigation">
              <button class="swiper-documents-prev">
                <svg
                  width="13"
                  height="21"
                  viewBox="0 0 13 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.7695 18.5625L2.54591 10.3389L10.7695 2.11526"
                    stroke="#833A8A"
                    stroke-width="3.52441"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="swiper-documents-next">
                <svg
                  width="13"
                  height="21"
                  viewBox="0 0 13 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.05859 2.11523L10.2822 10.3389L2.05859 18.5625"
                    stroke="#833A8A"
                    stroke-width="3.52441"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="swiper-documents">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="document-item">
                    <div class="content">
                      <h6>Устав МГГТ</h6>
                      <div class="file">
                        <svg
                          width="41"
                          height="46"
                          viewBox="0 0 41 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M25.25 1.80859H6.25C4.99022 1.80859 3.78204 2.26255 2.89124 3.07061C2.00044 3.87866 1.5 4.97462 1.5 6.11738V40.5877C1.5 41.7304 2.00044 42.8264 2.89124 43.6344C3.78204 44.4425 4.99022 44.8965 6.25 44.8965H34.75C36.0098 44.8965 37.218 44.4425 38.1088 43.6344C38.9996 42.8264 39.5 41.7304 39.5 40.5877V14.735L25.25 1.80859Z"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M25.25 1.80859V14.735H39.5"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 25.5078H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M30 34.125H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M15.75 16.8887H13.375H11"
                            stroke="black"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p>Возможно какое-то описание или пояснение</p>
                      </div>
                    </div>

                    <button class="primary"><p>Посмотреть</p></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="pagination swiper-documents-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
