<footer>
  <div class="container">
    <div class="footer-inner">
      <div class="top">
        <div class="logo">
          <img src="@img/logo-white.png" alt="logo" />
        </div>
        <div class="politic">
          <a href="./files/policy.pdf" target="_blank"
            >Политика конфиденциальности</a
          >
          <a href="./files/personal-data.pdf" target="_blank"
            >Политика обработки персональных данных</a
          >
          <a href="./files/pay.pdf" target="_blank"
            >Условия оплаты на сайте</a
          >
        </div>
      </div>
      <div class="bottom">
        <p>© ... Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
