<div class="modification-status-modal">
  <div class="modification-status-modal-content">
    <button class="close-btn">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="12" cy="12" r="12" fill="#7E869E" fill-opacity="0.25" />
        <path
          d="M17.3334 6.6665L6.66675 17.3332"
          stroke="#767676"
          stroke-width="1.6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6.66658 6.6665L17.3333 17.3332"
          stroke="#767676"
          stroke-width="1.6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <form>
      <h5>Что нужно дополнить</h5>
      <textarea placeholder="Напишите причину отказа"></textarea>
      <input class="submit-btn disable" type="submit" value="Отправить" />
    </form>
  </div>
</div>
