<div class="register">
  <div class="container">
    <div class="register-inner">
      <h1>Регистрация</h1>
      <form class="register-form" method="POST">
        <span>Являетесь ли вы сотрудником ГБУ «Мосгоргеотрест»?</span>
        <div class="inputs">
          <label>
            <input type="radio" name="person-type" value="employee" />
            <p>Сотрудник</p>
          </label>
          <label>
            <input type="radio" name="person-type" value="former-employee " />
            <p>Бывший сотрудник (пенсионер)</p>
          </label>
          <label>
            <input type="radio" name="person-type" value="not-employee " />
            <p>Не сотрудник</p>
          </label>
        </div>
        <input class="submit-btn disable" type="submit" value="Далее" />
      </form>
    </div>
  </div>
</div>
