<div class="reject-modal">
  <div class="reject-modal-content">
    <button class="close-btn">
      <svg
        width="18"
        height="17"
        viewBox="0 0 18 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.0165 1L1.09424 15.8122"
          stroke="#626262"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1.09436 1L16.0166 15.8122"
          stroke="#626262"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <form>
      <h5>Причина отказа</h5>
      <textarea placeholder="Напишите причину отказа"></textarea>
      <input class="submit-btn disable" type="submit" value="Отправить" />
    </form>
  </div>
</div>
