<div class="reviews">
  <div class="reviews-inner container">
    <div class="top">
      <h3>Отзывы</h3>
    </div>
    <div class="navigation">
      <button class="reviews-swiper-prev">
        <img src="@img/arrow-left.svg" alt="arrow" />
      </button>
      <div class="pagination reviews-pagination"></div>

      <button class="reviews-swiper-next">
        <img src="@img/arrow-right.svg" alt="arrow" />
      </button>
    </div>
    <div class="reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/reviews1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
