<footer class="footer">
  <div class="footer-inner container">
    <div class="policy">©2024. Ellestetic. Все права защищены</div>
    <div class="info">
      <a href="#" target="_blank">Оказание косметических услуг (пример)</a>
      <a href="#" target="_blank">Политика конфиденциальности</a>
      <a href="#" target="_blank">Возможно еще лицензия</a>
    </div>
    <div class="paradigma">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M20 6.25L25 11.25V25H10V20H20V6.25Z" fill="#586C52" />
        <path
          d="M5 18.75L0 13.75V0H13.75L18.75 5L4.95833 4.95833L5 18.75Z"
          fill="#586C52"
        />
        <path d="M15 10H10V15H15V10Z" fill="#586C52" />
      </svg>
      <p>Разработка сайта – Paradigma</p>
    </div>
  </div>
</footer>
