// breakpoints
$mobile-320: 319px;
$mobile-360: 359px;
$mobile-375: 374px;
$mobile-414: 413px;
$tablet: 767px;
$desktop-min: 1004px;
$desktop-under-middle: 1260px;
$desktop-middle: 1420px;
$desktop-big: 1900px;

//fonts
$aeonik: 'Aeonik Pro TRIAL';
$roboto: 'Roboto';

// colors
$white: #FFFFFF;
$black: #1A1A1A;
$gray: #888888;
$gray_1: #E1E1E1;
$gray_100: #E7E7E7;
$gray_2: #19191E;
$gray_3: #CAC8C8;
$gray_4: #858585;
$gray_5: #F3F3F3;
$gray_50: #888888;
$gray_6: #6B6B6B;
$green: #587B6B;
$promo: #AA9160;
$hit: #B15F41;
