<div class="specialists">
  <div class="specialists-inner container">
    <div class="top">
      <h3>Наши специалисты</h3>
    </div>
    <div class="navigation">
      <button class="specialists-swiper-prev">
        <img src="@img/arrow-left.svg" alt="arrow" />
      </button>
      <div class="pagination specialists-pagination"></div>
      <button class="specialists-swiper-next">
        <img src="@img/arrow-right.svg" alt="arrow" />
      </button>
    </div>
    <div class="specialists-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="specialist-item">
            <div class="image-wrapper">
              <img src="@img/specialist1.jpg" alt="specialist" />
            </div>
            <div class="content">
              <div class="info">
                <h5>Константинопольская Александра <br />Александровна</h5>
                <p class="post">Косметолог</p>
              </div>

              <div class="btns">
                <button class="btn primary">Записаться</button>
                <button data-specialist="1" class="btn about specialist-btn">
                  <div class="arrow">
                    <img src="@img/arrow-right.svg" alt="" />
                  </div>
                  <p>подробнее</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="specialist-item">
            <div class="image-wrapper">
              <img src="@img/specialist1.jpg" alt="specialist" />
            </div>
            <div class="content">
              <div class="info">
                <h5>Константинопольская Александра <br />Александровна</h5>
                <p class="post">Косметолог</p>
              </div>

              <div class="btns">
                <button class="btn primary">Записаться</button>
                <button data-specialist="1" class="btn about specialist-btn">
                  <div class="arrow">
                    <img src="@img/arrow-right.svg" alt="" />
                  </div>
                  <p>подробнее</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="specialist-item">
            <div class="image-wrapper">
              <img src="@img/specialist1.jpg" alt="specialist" />
            </div>
            <div class="content">
              <div class="info">
                <h5>Константинопольская Александра <br />Александровна</h5>
                <p class="post">Косметолог</p>
              </div>

              <div class="btns">
                <button class="btn primary">Записаться</button>
                <button data-specialist="1" class="btn about specialist-btn">
                  <div class="arrow">
                    <img src="@img/arrow-right.svg" alt="" />
                  </div>
                  <p>подробнее</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="specialist-item">
            <div class="image-wrapper">
              <img src="@img/specialist1.jpg" alt="specialist" />
            </div>
            <div class="content">
              <div class="info">
                <h5>Константинопольская Александра <br />Александровна</h5>
                <p class="post">Косметолог</p>
              </div>

              <div class="btns">
                <button class="btn primary">Записаться</button>
                <button data-specialist="1" class="btn about specialist-btn">
                  <div class="arrow">
                    <img src="@img/arrow-right.svg" alt="" />
                  </div>
                  <p>подробнее</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="specialist-item">
            <div class="image-wrapper">
              <img src="@img/specialist1.jpg" alt="specialist" />
            </div>
            <div class="content">
              <div class="info">
                <h5>Константинопольская Александра <br />Александровна</h5>
                <p class="post">Косметолог</p>
              </div>

              <div class="btns">
                <button class="btn primary">Записаться</button>
                <button data-specialist="1" class="btn about specialist-btn">
                  <div class="arrow">
                    <img src="@img/arrow-right.svg" alt="" />
                  </div>
                  <p>подробнее</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="specialist-item">
            <div class="image-wrapper">
              <img src="@img/specialist1.jpg" alt="specialist" />
            </div>
            <div class="content">
              <div class="info">
                <h5>Константинопольская Александра <br />Александровна</h5>
                <p class="post">Косметолог</p>
              </div>

              <div class="btns">
                <button class="btn primary">Записаться</button>
                <button data-specialist="1" class="btn about specialist-btn">
                  <div class="arrow">
                    <img src="@img/arrow-right.svg" alt="" />
                  </div>
                  <p>подробнее</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
