<div id="partners" class="partners">
  <div class="partners-top">
    <div class="container">
      <div class="partners-top-inner">
        <h3>партнёры</h3>
      </div>
    </div>
  </div>

  <div class="partners-bottom">
    <div class="container">
      <div class="partners-bottom-inner">
        <div class="partner-item">
          <div>
            <img src="@img/paradigma.svg" alt="paradigma" />
          </div>
        </div>
        <div class="partner-item">
          <div>
            <img src="@img/paradigma.svg" alt="paradigma" />
          </div>
        </div>
        <div class="partner-item">
          <div>
            <img src="@img/paradigma.svg" alt="paradigma" />
          </div>
        </div>
        <div class="partner-item">
          <div>
            <img src="@img/paradigma.svg" alt="paradigma" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
