@import "../../common/files/variables.scss";

.footer {
  margin-top: 70px;
  @media (max-width: $tab) {
    margin-top: 80px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 170px;
    margin-bottom: 70px;
    @media (max-width: $tab) {
      gap: 50px;
    }
    .top {
      display: flex;
      justify-content: space-between;
      @media (max-width: $tab) {
        flex-direction: column;
        gap: 52px;
      }
      .contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
          font-weight: 500;
          font-size: 50px;
          line-height: 50px;
          text-transform: uppercase;
          transition: var(--trs-300);
          @media (max-width: $tab) {
            font-size: 28px;
            line-height: 38px;
          }
          &:hover {
            color: var(--green-color);
          }
        }
      }
      .socials {
        display: flex;
        gap: 50px;
        @media (max-width: $tab) {
          justify-content: space-between;
          gap: 50px;
        }
        @media (max-width: $mob) {
          justify-content: flex-start;
          gap: 50px;
        }
        .tg {
          &:hover {
            p {
              color: var(--sky-color);
            }
            svg {
              path {
                fill: var(--sky-color);
              }
            }
          }
        }
        .wb {
          &:hover {
            p {
              color: var(--green-dark-color);
            }
            svg {
              path {
                fill: var(--green-dark-color);
              }
            }
          }
        }
        a {
          text-transform: uppercase;
          display: flex;
          align-items: baseline;
          gap: 10px;
          height: fit-content;
          p {
            transition: var(--trs-300);
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            @media (max-width: $tab) {
              font-size: 16px;
              line-height: 19px;
            }
          }
          svg {
            path {
              transition: var(--trs-300);
            }
          }
          &:hover {
            color: var(--green-color);
            svg {
              path {
                fill: var(--green-color);
              }
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      @media (max-width: $tab) {
        flex-direction: column;
        gap: 30px;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 80px;
        .address {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          max-width: 440px;
          @media (max-width: $tab) {
            font-size: 16px;
            line-height: 19px;
          }
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          opacity: 0.3;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          text-transform: uppercase;
          transition: var(--trs-300);
          &:hover {
            color: var(--green-color);
            opacity: 1;
            svg {
              path {
                fill: var(--green-color);
              }
            }
          }
        }
      }
      .logo {
        width: 322px;
        height: 128px;
        @media (max-width: $tab) {
          width: 320px;
          height: 127px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .footer-bottom {
    .line {
      overflow: hidden;
      .line-inner {
        display: flex;
        align-items: center;
        padding: 54px 0;
        height: 100%;
        @media (max-width: $tab) {
          padding: 28px 0;
        }
      }
      background: var(--red-color);
      .line-inner {
        gap: 70px;
        animation: scroll 35s linear infinite;
        @media (max-width: $tab) {
          animation-duration: 15s;
        }
        span {
          &:after {
            position: absolute;
            content: "";
            width: 50px;
            height: 1px;
            background: var(--dark-color);
            top: 0;
            bottom: 0;
            margin: auto;
            right: -60px;
          }
        }
      }

      span {
        font-weight: 400;
        font-size: 64px;
        line-height: 58px;
        color: var(--dark-color);
        position: relative;
        text-transform: uppercase;
        white-space: nowrap;
        @media (max-width: $tab) {
          font-size: 36px;
          line-height: 43px;
        }
      }
      .abraxas {
        font-family: "Abraxas", sans-serif;
        font-weight: 400;
        font-size: 49px;
        @media (max-width: $tab) {
          line-height: 33px;
          font-size: 28px;
        }
      }
    }
  }
}
