<div class="gallery">
  <div class="gallery-inner container">
    <div class="top">
      <h3>Фотогалерея</h3>
    </div>
    <div class="navigation">
      <button class="gallery-swiper-prev">
        <img src="@img/arrow-left.svg" alt="arrow" />
      </button>
      <div class="pagination gallery-pagination"></div>

      <button class="gallery-swiper-next">
        <img src="@img/arrow-right.svg" alt="arrow" />
      </button>
    </div>
    <div class="gallery-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/gallery1.jpg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/gallery2.jpg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/gallery1.jpg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/gallery2.jpg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/gallery1.jpg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/gallery2.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
