<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <div class="account-tabs">
          <button class="tab">Бронирование</button>
          <button class="tab active">Текущие заявки</button>
          <button class="tab">История</button>
          <button class="tab">Данные</button>
          <button class="tab">Как пользоватья ЛК</button>
        </div>
      </div>
      <div class="account-content">
        <div class="top">
          <h4>Заявки в лагерь</h4>
        </div>
        <div class="consideration-order-empty">
          <p>У вас пока нет заявок в лагерь</p>
          <button class="purple">Оставить заявку</button>
        </div>
        <div class="consideration-info">
          <h4>Заявки на базу отдыха</h4>
          <p>У вас пока нет заявок на базу отдыха</p>
          <button class="purple">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</div>
