<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab active">Бронирование</button>
        <button class="tab">Текущие заявки</button>
        <button class="tab">История</button>
        <button class="tab">Данные</button>
        <button class="tab">Как пользоватья ЛК</button>
      </div>
      <div class="account-content">
        <div class="order-list">
          <div class="order-item">
            <div class="image-wrapper">
              <div class="order-close">
                <svg
                  width="43"
                  height="43"
                  viewBox="0 0 43 43"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="21.3917" cy="21.3917" r="21.3917" fill="black" />
                  <rect
                    x="12.2793"
                    y="17.2363"
                    width="18.2959"
                    height="14.1488"
                    rx="3.65917"
                    stroke="white"
                    stroke-width="2.43945"
                  />
                  <path
                    d="M16.0171 16.8181V14.4892C16.0171 11.7947 18.2014 9.61035 20.896 9.61035H21.5494C24.2439 9.61035 26.4283 11.7947 26.4283 14.4892V16.8181"
                    stroke="white"
                    stroke-width="2.43945"
                  />
                  <circle cx="21.4577" cy="24.2195" r="1.86008" fill="white" />
                </svg>
                <p>
                  Запись в лагерь <br />
                  не открыта
                </p>
              </div>
              <img src="@img/account/1.jpg" alt="account" />
            </div>
            <div class="order-content">
              <h5>Детский лагерь</h5>
              <button class="purple" disabled>Забронировать</button>
            </div>
          </div>
          <div class="order-item">
            <div class="image-wrapper">
              <img src="@img/account/2.jpg" alt="account" />
            </div>
            <div class="order-content">
              <h5>База отдыха</h5>
              <button class="purple">Забронировать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
