<div data-specialist="1" class="specialist-modal">
  <div class="specialist-modal-content">
    <button class="close-btn"><img src="@img/close.svg" alt="close" /></button>
    <div class="left">
      <div class="image-wrapper">
        <img src="@img/specialist1.jpg" alt="specialist" />
      </div>
      <button class="btn primary">записаться</button>
    </div>
    <div class="right">
      <h5>Константинопольская Александра <br />Александровна</h5>
      <div class="info">
        <p class="post">Косметолог</p>
        <p class="expirience">Стаж работы 13 лет</p>
      </div>
      <div class="description">
        Широкий спектр функций для эффективной борьбы с целлюлитом и морщинами.
        Кримолот, липолазер, миостимуляция, кавитация, вакуум и RF лифтинг.
        Процедуры позволяют создавать разнообразные варианты и индивидуальные
        комплексы в зависимости от потребностей клиента.
      </div>
      <div class="education">
        <h6>Образование</h6>
        <ul>
          <li>МГМСУ им. Евдокимова. Москва</li>
          <li>Ординатура ЦГМА УД Президента РФ. Москва</li>
        </ul>
      </div>
      <div class="btns">
        <button>
          <div class="arrow"><img src="@img/arrow-right.svg" alt="" /></div>
          <p>Диплом</p>
        </button>
        <button>
          <div class="arrow"><img src="@img/arrow-right.svg" alt="" /></div>
          <p>Сертификат</p>
        </button>
      </div>
    </div>
  </div>
</div>
