<div class="health">
  <div class="container">
    <div class="health-inner">
      <div class="left">
        <h3>Забота <br />о здоровье</h3>
        <span
          >Медицинский <br />
          работник 24 часа</span
        >
        <p>Лицензия на меддеятелность</p>
        <div class="file">
          <svg
            width="41"
            height="50"
            viewBox="0 0 41 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M25.25 1.20312H6.25C4.99022 1.20313 3.78204 1.70357 2.89124 2.59437C2.00044 3.48517 1.5 4.69335 1.5 5.95312V43.9531C1.5 45.2129 2.00044 46.4211 2.89124 47.3119C3.78204 48.2027 4.99022 48.7031 6.25 48.7031H34.75C36.0098 48.7031 37.218 48.2027 38.1088 47.3119C38.9996 46.4211 39.5 45.2129 39.5 43.9531V15.4531L25.25 1.20312Z"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M25.25 1.20312V15.4531H39.5"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M30 27.3281H11"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M30 36.8281H11"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.75 17.8281H13.375H11"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <p>Возможно какое-то описание или пояснение</p>
        </div>
        <button class="primary"><p>Посмотреть</p></button>
      </div>
      <div class="right">
        <div class="image-wrapper">
          <img src="@img/health/1.jpg" alt="photo" />
        </div>
        <div class="file-wrapper">
          <span
            >Медицинский <br />
            работник 24 часа</span
          >
          <p>Лицензия на меддеятелность</p>
          <div class="file">
            <svg
              width="41"
              height="50"
              viewBox="0 0 41 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.25 1.20312H6.25C4.99022 1.20313 3.78204 1.70357 2.89124 2.59437C2.00044 3.48517 1.5 4.69335 1.5 5.95312V43.9531C1.5 45.2129 2.00044 46.4211 2.89124 47.3119C3.78204 48.2027 4.99022 48.7031 6.25 48.7031H34.75C36.0098 48.7031 37.218 48.2027 38.1088 47.3119C38.9996 46.4211 39.5 45.2129 39.5 43.9531V15.4531L25.25 1.20312Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M25.25 1.20312V15.4531H39.5"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M30 27.3281H11"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M30 36.8281H11"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.75 17.8281H13.375H11"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <p>Возможно какое-то описание или пояснение</p>
          </div>
        </div>
        <div class="button-wrapper">
          <button class="primary"><p>Посмотреть</p></button>
        </div>
      </div>
    </div>
  </div>
</div>
