<div class="certificate">
  <div class="certificate-inner container">
    <div class="certificate-content">
      <div class="image-wrapper">
        <img src="@img/certificate.jpg" alt="certificate" />
      </div>
      <p>
        Сертификат будет действовать <br />
        6 месяцев <br />с момента выдачи
      </p>
      <div class="separator">
        <img src="@img/star.svg" alt="star" />
      </div>
    </div>
    <form>
      <h5>Подарите сертификат</h5>
      <div class="form-inputs">
        <div class="radio-wrapper">
          <label class="custom-radio active">
            <input type="radio" name="certificate" value="5 000 ₽" checked />
            <p>5 000 ₽</p>
          </label>
          <label class="custom-radio">
            <input type="radio" name="certificate" value="10 000 ₽" />
            <p>10 000 ₽</p>
          </label>
          <label class="custom-radio">
            <input type="radio" name="certificate" value="25 000 ₽" />
            <p>25 000 ₽</p>
          </label>
          <label class="custom-radio">
            <input type="radio" name="certificate" value="50 000 ₽" />
            <p>50 000 ₽</p>
          </label>
        </div>
        <div class="input-row">
          <input
            type="text"
            placeholder="Введите свою цену"
            class="own-price-input"
          />
        </div>
        <input type="text" placeholder="Ваше имя" />
        <div class="input-row">
          <input type="text" placeholder="E-mail" />
          <input
            type="text"
            class="input form__input-value input__valid-phone"
            placeholder="Телефон"
          />
        </div>
        <div class="form-submit">
          <button class="btn primary success-btn">Заказать сертификат</button>
          <p>
            Нажимая кнопку «Заказать сертификат» вы даёте своё согласие с
            <a href="#" target="_blank">
              правилами обработки персональных данных.
            </a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
