<div class="direction">
    <div class="direction-wrapper">
      <div class="container">
        <div class="direction-inner">
          <div class="top">
            <div class="direction-about">
              <div class="title-wrapper">
                <h3>Развивающие направления</h3>
              </div>
              <p>
                При попадании в лагерь каждый ребенок может выбрать одно из пяти
                направлений познавательного досуга, которое закрепляется за
                ребенком на время смены
              </p>
            </div>
          </div>
          <div class="bottom">
            @@include('../direction-swiper/direction-swiper.component.html', {})
            <!-- <DirectionSwiper /> -->
          </div>
        </div>
      </div>
    </div>
  </div>