<div class="register">
  <div class="container">
    <div class="register-inner">
      <h1>Регистрация</h1>
      <form class="employee-form form">
        <div class="fields">
          <h5>Личные данные</h5>
          <input type="text" placeholder="Фамилия" />
          <input type="text" placeholder="Имя" />
          <input type="text" placeholder="Отчество" />
          <input type="text" placeholder="Табельный номер" />
          <input type="tel" placeholder="Телефон" />
          <input type="text" placeholder="Рабочая почта" />
          <input type="password" placeholder="Укажите пароль" />
          <input type="password" placeholder="Подтвердите пароль" />
        </div>
        <label>
          <input type="checkbox" />
          <p>
            Согласен с
            <a href="./files/personal-data.pdf" target="_blank">
              политикой обработкой персональных данных
            </a>
          </p>
        </label>
        <input class="submit-btn disable" type="submit" value="Далее" />
      </form>
    </div>
  </div>
</div>
