<div class="mobile-menu">
  <div class="mobile-menu-content">
    <nav class="list">
      <ul>
        <li data-scroll="about">О лагере</li>
        <li data-scroll="house">Проживание</li>
        <li data-scroll="nutrition">Питание</li>
        <li data-scroll="rest">Активности</li>
        <li data-scroll="documents">Документы</li>
        <li data-scroll="contacts">Контакты</li>
      </ul>
    </nav>
    <div class="info">
      <a href="tel:8 800 000-00-00" class="tel">8 800 000-00-00</a>
      <button class="outline"><p>Личный кабинет</p></button>
      <a href="#">Перейти на базу отдыха</a>
    </div>
  </div>
</div>
