<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab">Верификация сотрудников</button>
        <button class="tab active">Обработка заявок</button>
        <button class="tab">Пользователи</button>
      </div>
      <div class="account-content">
        <div class="top">
          <h4>Заявки</h4>
          <button class="outline-purple export">Экспорт</button>
        </div>
        <div class="request-list">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <th>ID <br />заявки</th>
                <th>
                  <button>
                    Смена
                    <svg
                      width="12"
                      height="8"
                      viewBox="0 0 12 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1.5L6 6.5L11 1.5"
                        stroke="#1A1A1A"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </th>
                <th>ФИО зак. <br />представителя</th>
                <th>
                  <button>
                    Тип пользователя
                    <svg
                      width="12"
                      height="8"
                      viewBox="0 0 12 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1.5L6 6.5L11 1.5"
                        stroke="#1A1A1A"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </th>
                <th>
                  Профиль зак. <br />
                  представи...
                </th>
                <th>ФИО ребенка</th>
                <th>
                  Профиль <br />
                  ребенка
                </th>
                <th>
                  <button>
                    Статус
                    <svg
                      width="12"
                      height="8"
                      viewBox="0 0 12 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1.5L6 6.5L11 1.5"
                        stroke="#1A1A1A"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </th>
              </tr>
              <tr>
                <td>224959</td>
                <td>Первая смена <br />01.06.24-21.06.24</td>
                <td class="name">
                  Константинопольский <br />
                  Константин Иванович
                </td>
                <td>Действующий <br />сотрудник</td>
                <td>
                  <button
                    class="clear-purple representative-info-btn"
                    data-representativeId="1"
                  >
                    Посмотреть
                  </button>
                </td>
                <td class="name">
                  Константинопольский <br />
                  Иван Константинович
                </td>
                <td>
                  <button class="clear-purple child-info-btn" data-childId="1">
                    Посмотреть
                  </button>
                </td>
                <td>
                  <button class="badge warn status-btn">На рассмотрении</button>
                </td>
              </tr>
              <tr>
                <td>234943</td>
                <td>Первая смена <br />01.06.24-21.06.24</td>
                <td class="name">
                  Филатов Максим <br />
                  Анатольевич
                </td>
                <td>Действующий <br />сотрудник</td>
                <td>
                  <button
                    class="clear-purple representative-info-btn"
                    data-representativeId="1"
                  >
                    Посмотреть
                  </button>
                </td>
                <td class="name">
                  Филатов Андрей <br />
                  Максимович
                </td>
                <td>
                  <button class="clear-purple child-info-btn" data-childId="1">
                    Посмотреть
                  </button>
                </td>
                <td>
                  <button class="badge error status-btn">Отклонена</button>
                  <button data-tooltip="tooltip-1" class="tooltip-btn">
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z"
                        stroke="#767676"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M17.4375 22.5C17.4375 23.2939 16.7939 23.9375 16 23.9375C15.2061 23.9375 14.5625 23.2939 14.5625 22.5C14.5625 21.7061 15.2061 21.0625 16 21.0625C16.7939 21.0625 17.4375 21.7061 17.4375 22.5Z"
                        fill="#767676"
                        stroke="#767676"
                        stroke-width="0.125"
                      />
                      <path
                        d="M16 18V17C16.6922 17 17.3689 16.7947 17.9445 16.4101C18.5201 16.0256 18.9687 15.4789 19.2336 14.8394C19.4985 14.1999 19.5678 13.4961 19.4327 12.8172C19.2977 12.1383 18.9644 11.5146 18.4749 11.0251C17.9854 10.5356 17.3617 10.2023 16.6828 10.0673C16.0039 9.9322 15.3002 10.0015 14.6606 10.2664C14.0211 10.5313 13.4744 10.9799 13.0899 11.5555C12.7053 12.1311 12.5 12.8078 12.5 13.5"
                        stroke="#767676"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                  @@include('../tooltip/tooltip.component.html', {})
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
