.breadcrumbs {
  padding-top: 33px;
  font-size: 14px;
  display: flex;

  @include desktop-big {
    font-size: 16px;
    padding-top: 41px;
  }

  @include desktop-min {
    padding-top: 21px;
  }

  .breadcrumbs__item {
    color: $gray;
    margin-right: 22px;
    transition: .3s linear;
    position: relative;

    &:hover {
      color: $black;
    }

    &:after {
      position: absolute;
      content: '/';
      right: -12%;
      top: 0;

      @include desktop-big {
        right: -10.5%;
      }
    }

    &:last-child {
      color: $black;
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }
}
