<div class="partners">
  <div class="partners-wrapper">
    <div class="container">
      <div class="partners-inner">
        <div class="top">
          <h3>Партнеры</h3>
        </div>
        <div class="bottom">
          <div class="partner-swiper">
            <div class="navigation">
              <button class="swiper-partner-prev">
                <svg
                  width="13"
                  height="21"
                  viewBox="0 0 13 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.7695 18.5625L2.54591 10.3389L10.7695 2.11526"
                    stroke="#833A8A"
                    stroke-width="3.52441"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="swiper-partner-next">
                <svg
                  width="13"
                  height="21"
                  viewBox="0 0 13 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.05859 2.11523L10.2822 10.3389L2.05859 18.5625"
                    stroke="#833A8A"
                    stroke-width="3.52441"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide partner-item">
                <div class="image-wrapper">
                  <img src="@img/partners/3.jpg" alt="partner" />
                </div>
              </div>
              <div class="swiper-slide partner-item">
                <div class="image-wrapper">
                  <img src="@img/partners/2.png" alt="partner" />
                </div>
              </div>
              <div class="swiper-slide partner-item">
                <div class="image-wrapper">
                  <img src="@img/partners/3.jpg" alt="partner" />
                </div>
              </div>
              <div class="swiper-slide partner-item">
                <div class="image-wrapper">
                  <img src="@img/partners/2.png" alt="partner" />
                </div>
              </div>
            </div>
            <div class="pagination swiper-partner-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
