<div class="account">
  <div class="container">
    <div class="account-inner">
      <div class="account-tabs">
        <button class="tab active">Бронирование</button>
        <button class="tab">Текущие заявки</button>
        <button class="tab">История</button>
        <button class="tab">Данные</button>
        <button class="tab">Как пользоватья ЛК</button>
      </div>
      <div class="account-content">
        <div class="child-documents">
          <div class="top">
            <h4>Документы ребенка</h4>
            <button>
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 36.6663C29.2048 36.6663 36.6667 29.2044 36.6667 19.9997C36.6667 10.7949 29.2048 3.33301 20 3.33301C10.7953 3.33301 3.33337 10.7949 3.33337 19.9997C3.33337 29.2044 10.7953 36.6663 20 36.6663Z"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M25 15L15 25"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15 15L25 25"
                  stroke="#626262"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>

          <div class="child-documents-content">
            <p>Прикрепите 3 скана документов ребенка</p>
            <ul>
              <li>1. Страница паспорта с фото</li>
              <li>2. Страница паспорта с регистрацией</li>
              <li>3. Свидетельство о рождении</li>
            </ul>
            <div class="child-documents-list">
              <div class="child-documents-item">
                <span>
                  <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.9998 46.3332C36.5058 46.3332 45.8332 37.0058 45.8332 25.4998C45.8332 13.9939 36.5058 4.6665 24.9998 4.6665C13.4939 4.6665 4.1665 13.9939 4.1665 25.4998C4.1665 37.0058 13.4939 46.3332 24.9998 46.3332Z"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M25 17.167V33.8337"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16.667 25.5H33.3337"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p>Добавить скан страницы паспорта с фото</p>
                <input type="file" />
              </div>
              <div class="child-documents-item">
                <span>
                  <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.9998 46.3332C36.5058 46.3332 45.8332 37.0058 45.8332 25.4998C45.8332 13.9939 36.5058 4.6665 24.9998 4.6665C13.4939 4.6665 4.1665 13.9939 4.1665 25.4998C4.1665 37.0058 13.4939 46.3332 24.9998 46.3332Z"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M25 17.167V33.8337"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16.667 25.5H33.3337"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p>Добавить cкан страницы паспорта с регистрацией</p>
                <input type="file" />
              </div>
              <div class="child-documents-item">
                <span>
                  <svg
                    width="50"
                    height="51"
                    viewBox="0 0 50 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.9998 46.3332C36.5058 46.3332 45.8332 37.0058 45.8332 25.4998C45.8332 13.9939 36.5058 4.6665 24.9998 4.6665C13.4939 4.6665 4.1665 13.9939 4.1665 25.4998C4.1665 37.0058 13.4939 46.3332 24.9998 46.3332Z"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M25 17.167V33.8337"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16.667 25.5H33.3337"
                      stroke="#626262"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p>Добавить скан свидетельства о рождении</p>
                <input type="file" />
              </div>
            </div>
            <div class="btn-wrapper">
              <button class="outline-purple">Назад</button>
              <button class="outline-purple" disabled>Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
