<div data-representativeId="1" class="info-card-representative">
  <div class="info-card-representative-content">
    <button class="close-btn">
      <svg
        width="18"
        height="17"
        viewBox="0 0 18 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.0165 1L1.09424 15.8122"
          stroke="#626262"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1.09436 1L16.0166 15.8122"
          stroke="#626262"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <h5>
      Константинопольский <br />
      Константин Иванович
    </h5>
    <div class="info-card-content">
      <div class="info-item">
        <h6>Личные данные</h6>
        <ul>
          <li>
            <span>Почта</span>
            <p>kons@gmai.com</p>
          </li>
          <li>
            <span>Телефон</span>
            <p>+7 934 345 53 43</p>
          </li>
          <li>
            <span>Таб номер</span>
            <p>83472993</p>
          </li>
          <li>
            <span>Адрес</span>
            <p>Москва, Садовая-Кудринская, <br />25, 124</p>
          </li>
          <li>
            <span>Место работы</span>
            <p>Отдел продаж</p>
          </li>
        </ul>
      </div>
      <div class="info-item">
        <h6>Документы</h6>
        <ul>
          <li>
            <p>Страница паспорта с фото</p>
          </li>
          <li>
            <p>Страница паспорта с регистрацией</p>
          </li>
          <li>
            <p>Свидетельство о рождении</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
