<div class="stocks">
  <div class="stocks-inner container">
    <div class="top">
      <h3>Акции</h3>
    </div>
    <div class="navigation">
      <button class="stocks-swiper-prev">
        <img src="@img/arrow-left.svg" alt="arrow" />
      </button>
      <div class="pagination stocks-pagination"></div>

      <button class="stocks-swiper-next">
        <img src="@img/arrow-right.svg" alt="arrow" />
      </button>
    </div>
    <div class="stocks-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/stock1.jpg" alt="stock" />
            <div class="badge">
              Бессрочно <img src="@img/star.svg" alt="star" />
            </div>
          </div>
          <div class="content">
            <h4>Всё бывает впервые</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>Скидка 10 % при первом посещении.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/stock2.jpg" alt="stock" />
            <div class="badge">
              25 мая - 25 июня 2024 <img src="@img/star.svg" alt="star" />
            </div>
          </div>
          <div class="content">
            <h4>Поделись удовольствием <br />с близкими!</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>Дарим 500 ₽ тебе и твоему другу на оплату любой услуги.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/stock3.jpg" alt="stock" />
            <div class="badge">
              Бессрочно<img src="@img/star.svg" alt="star" />
            </div>
          </div>
          <div class="content">
            <h4>День гармонии</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>Клиентский день 15 числа каждого месяца! Дарим скидку 15 %</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/stock1.jpg" alt="stock" />
            <div class="badge">
              Бессрочно <img src="@img/star.svg" alt="star" />
            </div>
          </div>
          <div class="content">
            <h4>Всё бывает впервые</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>Скидка 10 % при первом посещении.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/stock2.jpg" alt="stock" />
            <div class="badge">
              25 мая - 25 июня 2024 <img src="@img/star.svg" alt="star" />
            </div>
          </div>
          <div class="content">
            <h4>Поделись удовольствием <br />с близкими!</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>Дарим 500 ₽ тебе и твоему другу на оплату любой услуги.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="image-wrapper">
            <img src="@img/stock3.jpg" alt="stock" />
            <div class="badge">
              Бессрочно<img src="@img/star.svg" alt="star" />
            </div>
          </div>
          <div class="content">
            <h4>День гармонии</h4>
            <div class="separator">
              <img src="@img/star.svg" alt="star" />
            </div>
            <p>Клиентский день 15 числа каждого месяца! Дарим скидку 15 %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
