@import "../../common/files/variables.scss";


.services-hero {
  height: 700px;
  background: var(--purple-color);
  @media(max-width: $tab) {
    height: 550px;
  }
  .services-hero-inner {
    position: relative;
    height: 700px;
    @media(max-width: $tab) {
      height: 450px;
    }
  }
  h3 {
    font-weight: 500;
    color: var(--dark-color);
    font-size: 130px;
    line-height: 156px;
    position: absolute;
    bottom:10px;
    left: 30px;
    z-index: 4;
    text-transform: uppercase;
    @media(max-width: $tab) {
      font-size: 70px;
      line-height: 84px;
      bottom: -90px;
      left: 0px;
    }
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @media(max-width: $tab) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .subtract.mob {
    display: none;
    @media(max-width: $tab) {
      display: block;
    }
  }
  .subtract {
    position: absolute;
    @media(max-width: $tab) {
      display: none;
    }
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
